* {
	margin: 0;
	padding: 0;
}

.product_item {
	margin-top: 2px;
}
@font-face {
	font-family: "UTMBebas";
	src: url(/fonts/UTMBebas.eot?7e08147a663db090c6415ed935db0859); /* IE9 Compat Modes */
	src: url(/fonts/UTMBebas.eot?7e08147a663db090c6415ed935db0859?#iefix) format("embedded-opentype"),
		 url(/fonts/UTMBebas.otf?3e43142f921cf73dfcafcf452a674420) format("opentype"),
		 url(/fonts/UTMBebas.svg?62353ccbac3eada5b012d2e572c2726f) format("svg"),
		 url(/fonts/UTMBebas.ttf?93b50ac5b7afa55c9bf0a9e0a86093a6) format("truetype"),
		 url(/fonts/UTMBebas.woff?012616c326ecae691fc138d10ee82557) format("woff"),
		 url(/fonts/UTMBebas.woff2?8b0f1a9fd433443ec8d1677cfb8af89c) format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "DINPro-Bold";
	src: url(/fonts/DINPro-Bold.eot?54b49b2625c3ea5d61b174265bcceab2); /* IE9 Compat Modes */
	src: url(/fonts/DINPro-Bold.eot?54b49b2625c3ea5d61b174265bcceab2?#iefix) format("embedded-opentype"),
		 url(/fonts/DINPro-Bold.otf?0bc2ab8cba36c4205bad89f275fa2f51) format("opentype"),
		 url(/fonts/DINPro-Bold.svg?47485766014fabcfe1df1e7545759db4) format("svg"),
		 url(/fonts/DINPro-Bold.ttf?eb734ece37d6f51a561d9eee517741ce) format("truetype"),
		 url(/fonts/DINPro-Bold.woff?cc9f7ae0eab12af140100b805ab3ea17) format("woff"),
		 url(/fonts/DINPro-Bold.woff2?ffcbb3ab594a7eddce09ef9822463878) format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
.max-width {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.img_header a {
	display: inline-block;
}
.info_header {
	background: #f5f5f5;
	margin-top: -5px;
	display: inline-block;
	width: 100%;
}
.info_header a .icon_login {
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 2.5% 2.7%;
	margin-right: 10px;
}
.info_header a {
	float: right;
	padding: 9px 0px;
	padding-left: 36px;
	line-height: 20px;
}
.info_header span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #707070;
}
.info_header a:hover p {
	color: #0052aa;
}
.info_header a:hover .icon_login {
	background-position: 9% 2.7%;
}
.list_utilities {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
}
.logo {
	width: 19.17%;
}
.logo a {
	display: inline-block;
}
.utilities {
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.search_bar {
	width: 40.105%;
	margin-left: 40px;
}
.search_bar_item {
	background: #0052aa;
	height: 33px;
	position: relative;
	margin: 10px 0px;
}
.search_bar_item input {
	max-width: 325px;
	width: 100%;
	height: 32px;
	border: none;
	padding: 0px 13px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
}
.search_bar_item input:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.search_bar_item .button_search {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	width: 35px;
	height: 33px;
	background: #0052aa;
	display: inline-block;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 14.5% 1.5%;
	border: navajowhite;
}
.search_bar_item .button_search:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.follow_order {
	width: 17.5%;
	margin-left: 40px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
}
.follow_order span {
	display: inline-block;
	margin: 10px 0px;
	text-align: right;
}
.follow_order i {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 22% 1.5%;
}
.cart {
	width: 9.89%;
	margin-left: 40px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 35px;
}
.cart span {
	display: inline-block;
	margin: 10px 0px;
	text-align: right;
}
.cart i {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 31% 1.5%;
	position: relative;
}
.cart i small {
	position: absolute;
	top: -1px;
	right: 0;
	width: 13px;
	height: 13px;
	z-index: 1;
	background: red;
	border-radius: 50%;
	padding: 2px;
	text-align: center;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	line-height: 14px;
}
.hotline {
	width: 15.83%;
	margin-left: 40px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
}
.hotline .hotline_item {
	display: inline-block;
	margin: 10px 0px;
	text-align: right;
}
.hotline i {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 39% 1.5%;
}
.hotline .hotline_child {
	width: 76.2%;
	float: right;
}

/* catogery */

.hotline span strong {
	font-size: 16px;
	color: #d7000e;
}
.content {
	margin-top: 22px;
}
.categories_parent {
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
	margin-top: 2p;
}
.categories {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
}
.list_menu {
	width: 19.17%;
	background: #0052aa;
	padding: 3px 0px;
	position: relative; /* =>>>>>> thêm */
}
.list_menu i {
	width: 40px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 47.5% 1.9%;
	margin-right: 8px;
}
.list_menu span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	line-height: 33px;
}
.list_promo {
	width: 80%;
	display: flex;
	justify-content: space-between;
	background: #f5f5f5;
}
.promo_item {
	width: 20%;
	text-align: center;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 39px;
}
.promo_border {
	position: relative;
}
.bg_red {
	background: #d02b2b;
	font-weight: bold;
	color: #fff;
}
.promo_border:before {
	position: absolute;
	content: "";
	top: 10px;
	right: -1px;
	z-index: 1;
	width: 1px;
	height: 20px;
	background: #dedede;
}

/* menu */

ul li {
	list-style: none;
}

.info_menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	position: relative;
}
.menu_parent {
	width: 19.17%;
}
.menu {
	width: 100%;
}
.menu .menu_item {
	background: #f5f5f5;
}

.menu .menu_item .menu_item_child {
	padding: 2px 10px;
	display: block;
	height: 26px;
}
.menu_item_child .icon_tivi {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 2.8% 10.4%;
	margin-left: 4px;
}
.menu_item_child .icon_dienlanh {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 10.8% 10.4%;
	margin-left: 4px;
}
.menu_item_child .icon_didong {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 18.2% 10.4%;
	margin-left: 4px;
}
.menu_item_child .icon_giadung {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 25% 10.4%;
	margin-left: 3px;
}
.menu_item_child .icon_noithat {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 32.5% 11%;
	margin-left: 4px;
}
.menu_item .menu_item_child .tour {
	font-weight: bold;
}
.menu_item_child .arrow {
	float: right;
	width: 15px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 39% 10.7%;
}
.menu_item_child span {
	display: inline-block;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 25px;
	font-weight: 500;
	text-transform: none;
}
.menu .menu_child .menu_child-content {
	display: block;
	background: #fff;
	padding: 7px 16px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #666666;
	border-bottom: 1px solid #dedede;
	line-height: 15px;
}
.menu .menu_child .menu_child-content:last-child {
	border-bottom: 0px solid #dedede;
	line-height: 16px;
}
.menu .menu_child a {
	/* font-family: Arial, Tahoma, sans-serif;
	font-size: 14px; */
	color: #666666;
}
.menu_item:hover .menu_item_child .icon_tivi {
	background-position: 2.8% 17.4%;
}
.menu_item:hover .menu_item_child .icon_dienlanh {
	background-position: 10.8% 17.4%;
}
.menu_item:hover .menu_item:hover .menu_item_child p {
	color: #0052aa;
}
.menu_item:hover .menu_item_child .icon_didong {
	background-position: 18.2% 17.1%;
}
.menu_item:hover .menu_item_child .icon_giadung {
	background-position: 25% 17.1%;
}
.menu_item:hover .menu_item_child .icon_noithat {
	background-position: 32.5% 17.8%;
}
.menu_item:hover {
	background: #0052aa;
}
.menu_item:hover .menu_item_child span {
	color: #fff;
}
.menu_item:hover .arrow {
	background-position: 38.9% 17.5%;
}
.menu_item .dropdown_menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	width: 80.84%;
	height: 450px;
	background: #fff;
	display: none;
}
.menu_item:hover .dropdown_menu {
	display: block;
}
.menu_item .dropdown_menu .dropdown_menu_parent {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 451px;
}
.menu_item .dropdown_menu .dropdown_menu_item {
	width: 74.74%;
	border: 1px solid #f5f5f5;
	position: relative;
}
.menu_item .dropdown_menu .dropdown_menu_img {
	width: 25.26%;
}
.menu_item .dropdown_menu .dropdown_menu_item nav {
	width: 33.1%;
	height: 450px;
	border-right: 1px solid #f5f5f5;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	padding: 15px 0px;
	line-height: 25px;
	border-bottom: 1px solid #dedede;
	color: #333333;
}
/*.menu_item .dropdown_menu .dropdown_menu_item nav ul p{
	padding: 0px 13px;
	font-size: 12px;
	color: #0052aa ;
	cursor: pointer;
}*/
.menu_item .dropdown_menu .dropdown_menu_item nav ul .collapse {
	position: relative;
	padding: 0px 13px;
	font-size: 12px;
	color: #0052aa;
	cursor: pointer;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul .see_more {
	position: relative;
	padding: 0px 13px;
	font-size: 12px;
	color: #0052aa;
	cursor: pointer;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul .collapse:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 60px;
	z-index: 1;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 47% 11.5%;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul .see_more:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 70px;
	z-index: 1;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 51% 11.7%;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul li {
	padding: 0px 13px;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li a {
	color: #333333;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark {
	position: absolute;
	top: 0;
	left: 240px;
	z-index: 1;
	width: 33.1%;
	height: 450px;
	display: none;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark .feature {
	position: absolute;
	top: 0;
	left: 240px;
	z-index: 2;
	width: 244px;
	display: none;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li strong {
	font-weight: bold;
	text-transform: uppercase;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul:last-child {
	border-bottom: 0px solid #dedede;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li i {
	float: right;
	width: 15px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 42.5% 10.6%;
	display: none;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li:hover a.cat {
	color: #0052aa;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li:hover a.cat i {
	display: block;
}

.menu_item .dropdown_menu .dropdown_menu_item ul li:hover .trademark {
	display: block;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark li:hover a.cat_item {
	color: #0052aa;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark li:hover a.cat_item i {
	display: block;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark li:hover .feature {
	display: block;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark li .feature li:hover a {
	color: #0052aa;
}
.promotion {
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.slide {
	width: 74.48%;
}
.slide .slide_img {
	position: relative;
}
.slide_img.owl-theme .owl-controls {
	margin-top: -40px;
	margin-bottom: 9px;
}

.slide_img.owl-theme .owl-controls .owl-page span {
	background: transparent;
	border: 1px solid #c4bfb8;
	opacity: 0.6;
	width: 15px;
	height: 15px;
	margin: 5px 4px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 10px;
	line-height: 15px;
	color: #fff;
}
.slide_img.owl-theme .owl-controls .owl-page.active span,
.slide_img.owl-theme .owl-controls.clickable .owl-page:hover span {
	opacity: 0.9;
	border: 1px solid #fff;
	background: #afafaf;
}
.slide_content {
	background: #f5f5f5;
	text-align: center;
}
.slide_content.owl-carousel .owl-item:after {
	content: "";
	position: absolute;
	top: 14px;
	right: 0;
	width: 1px;
	height: 20px;
	background: #dedede;
}
.slide_content.owl-carousel .owl-item:last-child:after {
	width: 0px;
}
.slide_content.owl-carousel .owl-item .item {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #333333;
	display: inline-block;
	margin: 9px 25px;
}
.slide_content.owl-carousel .owl-item {
	border-top: 3px solid transparent;
}
.slide_content.owl-carousel .owl-item.synced {
	border-top: 3px solid #0052aa;
}
.slide_content.owl-carousel .owl-item.synced .item {
	font-weight: bold;
}
.slide_content.owl-carousel .owl-item:hover {
	cursor: pointer;
}

.page_specialized {
	width: 24.48%;
}
.page_specialized a {
	display: inline-block;
}
.page_specialized a:nth-child(2) {
	margin-top: 6px;
}

/* banner */

.banner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.banner .banner_item {
	width: 32.75%;
}

/* product_promo */
.product_promo {
	background: #f3f5f7;
	margin-top: 24px;
}
.title_pro {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 22px;
	color: #0052aa;
	padding-top: 38px;
	padding-bottom: 25px;
}

.tab_menu nav ul {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	background: #fff;
	margin-bottom: 10px;
	border-bottom: 3px solid #0052aa;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.tab_menu nav ul li {
	width: 10%;
	text-align: center;
	padding: 10px 0px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	cursor: pointer;
	position: relative;
}
.tab_menu nav ul li:nth-child(n):before {
	position: absolute;
	content: "";
	top: 8px;
	right: 0;
	z-index: 1;
	width: 1px;
	height: 20px;
	background: #ededed;
}
.tab_menu nav ul li:last-child:before {
	width: 0;
}
.tab_menu nav ul li.active:nth-child(n):before {
	width: 0;
}
.tab_menu nav ul li.active {
	background: #0052aa;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: bold;
	color: #fff;
}

.product_child {
	width: 100%;
	background: #fff;
	display: inline-block;
}
.product {
	width: 18.167%;
	overflow: hidden;
	float: left;
	padding: 7px 10px;
	border: 1px solid transparent;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	position: relative;
}
.product:hover {
	box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
}

.product:last-child {
	border-right: 1px solid #ebebeb;
}

.product:nth-child(5n) {
	border-right: 1px solid #ebebeb;
}
.product:nth-child(n + 6) {
	border-top: 0px solid #ebebeb;
}
.product .lable_pro {
	font-family: "UTMBebas";
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: 4px;
	left: 5px;
	z-index: 1;
}
.lable_pro .icon_selling {
	width: 40px;
	height: 48px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 2px 0px;
	font-size: 11px;
	margin-right: 5px;
	text-align: center;
	background-image: url("/assets/img/hompage_13.png");
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 15px;
}
.lable_pro .icon_selling span {
	font-size: 14px;
}
.lable_pro .icon_buy {
	width: 30px;
	height: 48px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 2px 5px;
	margin-right: 5px;
	text-align: center;
	line-height: 15px;
	background-image: url("/assets/img/hompage_14.png");
	background-repeat: no-repeat;
	display: inline-block;
}
.img_pro {
	text-align: center;
	margin-top: 10px;
}
.img_pro a {
	display: inline-block;
}
.pro_promo {
	width: 220px;
	height: 40px;
	display: inline-block;
	overflow: hidden;
}
.icon_gift {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 2% 25%;
	position: relative;
}

.icon_gift p {
	position: absolute;
	top: 50%;
	left: 44px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.icon_flash {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 2% 35%;
	position: relative;
}

.icon_flash p {
	position: absolute;
	top: 50%;
	left: 44px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.icon_price_shock {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 2% 45%;
	position: relative;
}

.icon_price_shock p {
	position: absolute;
	top: 50%;
	left: 44px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.icon_guarantee {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 2% 56%;
	position: relative;
}

.icon_guarantee p {
	position: absolute;
	top: 50%;
	left: 40px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.icon_percen {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 2% 66.5%;
	position: relative;
}

.icon_percen p {
	position: absolute;
	top: 50%;
	left: 42px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.name_pro {
	width: 100%;
	height: 60px;
	overflow: hidden;
}
.name_pro a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.name_pro a:hover {
	text-decoration: none;
}
.name_pro span {
	margin-left: 5px;
}
.name_pro h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 15px;
}
.price_sale {
	font-family: "UTMBebas";
	font-size: 24px;
	color: #e02e2e;
	margin-top: 5px;
}
.gift {
	width: 100%;
	height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	margin-top: 7px;
}

.discount {
	width: 100%;
	height: 25px;
	overflow: hidden;
	margin-top: 5px;
}
.discount .price_market {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #707070;
	text-decoration: line-through;
}
.discount .discount_percent {
	font-family: "UTMBebas";
	font-size: 14px;
	color: #fff;
	background: #007bff;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 4px;
}
.discount .installment {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #000;
	background: #ffe900;
	border-radius: 3px;
	padding: 2px 7px;
}
.gift_detail {
	width: 100%;
	height: 20px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
	margin-top: 8px;
	margin-bottom: 5px;
	overflow: hidden;
}
.evaluate_compare {
	width: 100%;
}
.evaluate_compare .evaluate {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 22px;
	float: left;
}
.evaluate_compare .evaluate i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 44% 18.3%;
}
.evaluate_compare .compare {
	float: right;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #0052aa;
}
.pro_see_more {
	text-align: center;
	margin-top: 17px;
	padding-bottom: 40px;
}
.pro_see_more button {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	padding: 8px 20px;
	border: 1px solid #bababa;
	background: #fff;
	border-radius: 35px;
	line-height: 20px;
}
.pro_see_more button:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.pro_see_more i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 48% 18%;
}
.product:nth-child(n + 11) {
	display: none;
}
.hot_pro {
	width: 100%;
	position: relative;
}
.hot_pro_species {
	display: flex;
	justify-content: space-between;
	margin-top: -10px;
}
.hot_pro_banner {
	width: 20%;
	height: 404px;
}

.hot_pro_banner a {
	display: inline-block;
}
.hot_pro_detail {
	width: 79.6%;
	height: 400px;
	overflow: hidden;
	border: 2px solid #0052aa;
}
.hot_pro_detail .product {
	width: 22.697%;
}
.see_all {
	position: absolute;
	top: 55px;
	right: 0;
	z-index: 1;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #007bff;
}
.see_all i {
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 53% 18.5%;
}

/* 2 banner */
.two_banner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 36px;
}

.two_banner a {
	width: 49.584%;
}
.three_banner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 7px;
}

.three_banner a {
	width: 32.75%;
}
.my_utilities {
	width: 100%;
	position: relative;
}
.videos {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: -12px;
}
.video_big {
	width: 39.334%;
	height: 350px;
}
.video_big .img_video {
	width: 100%;
	height: 269px;
	overflow: hidden;
	position: relative;
}
.video_big .img_video:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 269px;
	background: #0006;
}
.video_big .img_video:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 61.2% 2%;
}
.video_big .title_video {
	width: 100%;
	height: 81px;
	background: #111111;
}
.video_big .title_video p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 18px;
	color: #fff;
	display: inline-block;
	margin: 20px;
	height: 42px;
	overflow: hidden;
}

.video_small {
	width: 59.5%;
	height: 350px;
	overflow: hidden;
}
.video_small_item {
	width: 32.213%;
	height: 170px;
	float: left;
	margin-right: 12px;
	margin-bottom: 10px;
}

a.video_small_item:nth-child(3n) {
	margin-right: 0;
}
.video_small_item .img_video {
	width: 100%;
	height: 129px;
	overflow: hidden;
	position: relative;
}
.video_small_item .img_video:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 129px;
	background: #0006;
}
.video_small_item .img_video:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 61% 15%;
}
.video_small_item .title_video {
	width: 100%;
	height: 41px;
	background: #111111;
}
.video_small_item .title_video p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #fff;
	display: inline-block;
	margin: 5px 10px;
	height: 30px;
	overflow: hidden;
}

/* product_saw */

.product_saw {
	width: 100%;
}
.slide_product {
	width: 100%;
	margin-top: -6px;
}
.slide_product.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
}
.slide_product.owl-carousel .product {
	height: 350px;
	width: 92%;
}
.slide_product.owl-carousel .product:last-child {
	border-right: 0px solid #ebebeb;
}
.slide_product.owl-theme .owl-controls .owl-buttons .owl-prev,
.slide_banner.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 25px;
	height: 40px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 73% 2.5%;

	margin: 0;
	padding: 0;
	border-radius: 0;
}
.slide_product.owl-theme .owl-controls .owl-buttons .owl-next,
.slide_banner.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
	width: 25px;
	height: 40px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 81% 2.5%;

	margin: 0;
	padding: 0;
	border-radius: 0;
}

/* most_searched */
.most_searched {
	background: #f5f5f5;
	padding: 20px;
}
.most_searched_item {
	background: #fff;
	position: relative;
}
.title_search {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0052aa;
	text-transform: uppercase;
	padding: 15px 20px;
	line-height: 20px;
}
.most_searched_child {
	width: 100%;
	height: 81px;
	display: inline-block;
	overflow: hidden;
}
.most_searched_child li {
	width: 17.328%;
	height: 50px;
	float: left;
	padding: 15px;
	border-top: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	position: relative;
}
.most_searched_child li:nth-child(5n) {
	border-right: 0px solid #f5f5f5;
}
.most_searched_child li a {
	width: 100%;
	display: inline-block;
}
.most_searched_child li span {
	width: 70.15%;
	height: 38px;
	float: left;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 19px;
	overflow: hidden;
}
.most_searched_child li span strong {
	display: block;
	font-weight: bold;
	font-size: 13px;
}
.most_searched_child li img {
	position: absolute;
	top: 50%;
	right: 17px;
	z-index: 1;
	transform: translateY(-50%);
	max-width: 60px;
	width: 100%;
	float: right;
	display: inline-block;
	vertical-align: middle;
}
.download_more {
	position: absolute;
	top: 17px;
	right: 22px;
	z-index: 1;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #007bff;
}
.download_more i {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 67.5% 18.3%;
}
.phone_hotline {
	width: 100%;
	background: #f5f5f5;
	display: flex;
	justify-content: space-between;
	margin-top: 17px;
}
.p_hotline_item {
	width: 33.34%;
	text-align: center;
	position: relative;
}
.p_hotline_item:after {
	content: "";
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 1;
	width: 1px;
	height: 30px;
	background: #dedede;
}
.p_hotline_item:nth-child(3):after {
	width: 0px;
}
.p_hotline_item .icon_security {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 99% 0.5%;
}
.p_hotline_item .icon_purchase {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 81.5% 14.5%;
}
.p_hotline_item .icon_complain {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 95.5% 14.5%;
}
.p_hotline_item span {
	width: 45%;
	display: inline-block;
	vertical-align: middle;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	text-align: left;
}
.p_hotline_item span strong {
	display: block;
	font-weight: bold;
}

/* general_infor_parent */
.general_infor_parent {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
	padding-bottom: 25px;
}
.general_infor {
	width: 71.67%;
}
.info_item {
	width: 24.768%;
	float: left;
}
.info_item strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	display: inline-block;
	padding-bottom: 8px;
	padding-top: 9px;
}
.info_item li {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
}
.info_item li a {
	color: #333333;
}
.info_item li a:hover {
	color: #0052aa;
}
.contact {
	width: 28.335%;
}
.social_network {
	width: 100%;
	display: inline-block;
}
.social_network_item {
	float: right;
}
.social_network strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	margin-right: 15px;
}
.facebook {
	width: 31px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 53% 44.5%;
}
.youtube {
	width: 31px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 52% 25%;
}
.instagram {
	width: 31px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 59.5% 25%;
}
.branch {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.number_branch {
	width: 55.295%;
	text-align: right;
	position: relative;
}
.number_branch p {
	font-family: "DINPro-Bold";
	font-size: 85px;
	color: #e02e2e;
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 1;
}
.info_branch {
	width: 44.706%;
	margin-top: 30px;
}
.info_branch_item p {
	display: inline-block;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #333333;
}
.info_branch_item p strong {
	font-weight: bold;
	display: block;
}
.add_branch_more {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	display: block;
	background: #0052aa;
	text-align: center;
	color: #fff;
	padding: 5px 0px;
	border-radius: 5px;
	margin-top: 3px;
}

/* footer */
.info_footer {
	background: #f5f5f5;
}
.footer {
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
}
.footer_left {
	width: 50%;
}
.footer_left h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0052aa;
}
.footer_left p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	line-height: 20px;
}
.footer_left .policy {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #0052aa;
	line-height: 28px;
}
.footer_right {
	width: 46.834%;
}
.certification {
	height: 60px;
	background: #fff;
	margin-top: 8px;
	margin-bottom: 10px;
}

.certification ul {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 0px;
}

.certification ul li {
	display: inline-block;
}
.certification p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	display: inline-block;
	margin-right: 10px;
	margin-left: 17px;
}

.payment {
	background: #fff;
	height: 60px;
}

.payment ul {
	height: 60px;
	display: inline-block;
	vertical-align: middle;
}

.payment ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 9px 0px;
}
.payment p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	display: inline-block;
	vertical-align: middle;
	margin-right: 17px;
	margin-left: 20px;
}
.mobile {
	display: none;
}
#slide_mb {
	display: none !important;
}
#slide_mb_2 {
	display: none !important;
}
.hotline_mb {
	display: none;
}
.info_mb {
	display: none;
}
.fuzzy {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: #000000d6;
	display: none;
}
#popup_video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	display: none;
}

.close_popup {
	position: fixed;
	top: 5%;
	right: 2%;
	z-index: 6;
	width: 64px;
	height: 64px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/close.png?c1843f33df88a8501534c02c664d94b9);
	cursor: pointer;
}
.box_video {
	display: inline-block;
	width: 920px;
	height: 550px;
	margin: auto;
	background-color: #000;
	border-radius: 4px;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
.left_box_video {
	float: left;
	width: 500px;
	height: 100%;
	padding: 0 20px;
	border-radius: 4px 0 0 4px;
	background: #000;
	overflow: hidden;
}
.left_box_video iframe {
	max-width: 100%;
	border: 0;
	display: inline-block;
	margin-top: 26%;
}
.right_box_video {
	float: right;
	width: 350px;
	height: 520px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	padding: 15px;
	border-radius: 0 4px 4px 0;
	vertical-align: top;
	text-align: left;
}
.box_video--title {
	font-family: Arial, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #468ee5;
}
.content_article a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #0054a6;
}
.content_article h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: #333333;
}
.content_article p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #333333;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url(/fonts/Roboto-Bold.eot?2c131c9b04c253ff771aeae314a53a4b); /* IE9 Compat Modes */
  src: url(/fonts/Roboto-Bold.eot?2c131c9b04c253ff771aeae314a53a4b?#iefix) format("embedded-opentype"), 
  url(/fonts/Roboto-Bold.otf?89b89f768e422f09a56dce80f456cf28) format("opentype"), 
  url(/fonts/Roboto-Bold.svg?5c4783ed8359828ad61ce60dc3d860b2) format("svg"), 
  url(/fonts/Roboto-Bold.ttf?b19d4d24fd6d9a154ad6812a79269d07) format("truetype"), 
  url(/fonts/Roboto-Bold.woff?6552efbabcefb6d6695f238b6c6620c1) format("woff"), 
  url(/fonts/Roboto-Bold.woff2?4f2b2ed2943d4b19496951f01c843bf0) format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.menu_hover {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 10000;
  width: 1200px;
  display: none;
}
.list_menu:hover .menu_hover{
	display: block;
}
.banner_big{
	width: 100%;
	display: inline-block;
	margin: 2px 0px;
}
.banner_big-item{
	display: inline-block;
}
.slide_banner{
  width: 100%;
}
#slide_banner .owl-item .slide_banner-item{
  margin: 2px 4px;
  text-align: center;
}
.slide_banner-item a{
  display: inline-block;
}
.box_breadcrumb{
	padding: 15px 0px;
}
.box_breadcrumb-item{
	display: inline-block;
	font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: #707070;
}
.box_breadcrumb ul li{
	display: inline-block;
}
.box_breadcrumb ul li a{
	color: #707070;
}
.promotion_product_cat{
	margin-top: 19px;
}
.tab_promo_cat{
	margin: 15px 0px;
}
.tab_promo_cat nav ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #f5f5f5;
}
.tab_promo_cat nav ul li{
	width: 33.3334%;
	text-align: center;
	padding: 14px;
	border-right: 1px solid #dedede;
	cursor: pointer;
	position: relative;
}
.tab_promo_cat nav ul li:after{
	content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid #0053a3;
  opacity: 0;
}
.tab_promo_cat nav ul li.current:after{
	opacity: 1;
}
.tab_promo_cat nav ul li:last-child{
	border-right: 0;
}
.tab_promo_cat nav ul li.current{
	border-bottom: 3px solid #00549f;
	background: #fff;
}
.tab_promo_cat nav ul li span{
	font-family: "Roboto-Bold";
  font-size: 18px;
  color: #333333;
}
.tab_promo_cat nav ul li.current span{
	color: #00549f;
}
.list_pro_cat-item{
	display: none;
}
.list_pro_cat-item.active{
	display: block;
}
.slide_product_cat{
	width: 100%;
}
.slide_product_cat.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}
.slide_product_cat.owl-carousel .product{
	height: 388px;
	width: 92%;
}
.slide_product_cat.owl-carousel .product:last-child {
  border-right: 0px solid #ebebeb;
}
.slide_product_cat.owl-theme .owl-controls .owl-buttons .owl-prev{
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 25px;
	height: 40px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 73% 2.5%;

	margin: 0;
  padding: 0;
  border-radius: 0;
}
.slide_product_cat.owl-theme .owl-controls .owl-buttons .owl-next{
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
	width: 25px;
	height: 40px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url(/images/icon.png?f85e2fabaf65e4e61fa6b897c6af3e72);
	background-position: 81% 2.5%;

	margin: 0;
  padding: 0;
  border-radius: 0;
}
.cat_detail{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 38px;
}
.cat_detail_left{
	width: 18.3334%;
}
.cat_detail_right{
	width: 80%;
}
.cat_detail-item{
	background: #f5f5f5;
	padding: 15px 0px;
	margin-bottom: 3px;
}
.cat_detail-item h3{
	font-family: "Roboto-Bold";
  font-size: 17px;
  color: #333333;
  padding: 0px 15px;
  margin-bottom: 9px;
}
.cat_detail-item p{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #7a7a7a;
  font-weight: 500;
  line-height: 15px;
  padding: 0px 15px;
}
.cat_detail-item .should_choose{
	padding: 0px 15px;
	font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #0072fa;
}
.cat_detail-item .img_range{
	padding: 15px 10px;
}
.list_cat_search{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #717171;
  font-weight: 500;
  padding: 0px 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.cat_search-item{
  display: inline-block;
  max-width: 154px;
  padding: 2px 7px;
  border: 1px solid #9fc0e1;
  line-height: 14px;
  background: #fff;
  padding-right: 25px;
  margin-right: 4px;
  border-radius: 4px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
   /*  -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; */
}
.cat_search-item i{
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: #0054ac;
  font-family: Arial, Tahoma, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.delete_all{
  text-align: right;
  padding: 0px 15px;
}
.delete_all span{
  font-family: Arial, Tahoma, sans-serif;
  font-size: 13px;
  color: #0076ff;
  font-weight: 500;
  cursor: pointer;
}
.list_cat_brand, .list_cat_price{
  display: inline-block;
  padding: 0px 15px;
}
.cat_brand-item{
  width: 50%;
  float: left;
  margin-bottom: 5px;
}
.cat_price-item, .cat_species-item{
  width: 50%;
  float: left;
  margin-bottom: 9px;
}
.cat_resolution-item, .cat_utilities-item{
  width: 100%;
  margin-bottom: 9px;
  display: block;

}
.container{
  display: block;
  position: relative;
  padding-left: 17px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #333333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input{
	display: none;
}
.container .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.container input:checked ~ .checkmark {
  background-color: #0050af;
  border: 1px solid #0050af;
}
.container .checkmark:after{
	content: "";
  position: absolute;
  left: 3px;
  top: 0px;
  width: 2px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: none;
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark:after {
 display: block;
}

.search_price_desire{
	padding: 10px 15px;
	margin: 0px 10px;
	background: #dedede;
}
.price_desire-content{
	margin-bottom: 10px;
}
.price_desire-content input{
	width: 74px;
  text-align: center;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #333333;
  padding: 5px 0px;
  border: none;
  border-radius: 3px;
}
.price_desire-content input::-webkit-outer-spin-button, 
.price_desire-content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price_desire-content input:focus, .price_desire-button:focus{
	outline: none;
}
.price_desire-content input::-webkit-input-placeholder{
	color: #b4b4b4;
}
.price_desire-content input::-moz-placeholder{
	color: #b4b4b4;
}
.price_desire-content input:-ms-input-placeholder{
	color: #b4b4b4;
}
.price_desire-content input::-ms-input-placeholder{
	color: #b4b4b4;
}
.price_desire-content input::placeholder{
	color: #b4b4b4;
}
.icon_arrow_cat{
	width: 14px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_cat.png?96541375b1f43897e6abe724a11b92de);
	background-position: 3% 1.6%;
}
.price_desire-button{
	width: 100%;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 13px;
  color: #fff;
  background: #0152ab;
  line-height: 16px;
  border: none;
  text-align: center;
  padding: 6px 0px;
  border-radius: 3px;
}
.price_desire-button:hover{
	opacity: 0.8;
}
.list_cat_range{
	display: inline-flex;
	justify-content: space-between;
	padding: 0px 10px;
	margin-bottom: 15px;
}
.cat_range-item{
	float: left;
	text-align: center;
}
.container_range{
 display: block;
 position: relative;
 font-family: Arial, Tahoma, sans-serif;
 font-size: 12px;
 color: #333333;
 padding-bottom: 12px;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.container_range input{
	display: none;
}
.container_range .checkmark{
	position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 height: 10px;
 width: 10px;
 background-color: #fff;
 border: 1px solid #dddddd;
 border-radius: 3px;
}
.container_range input:checked ~ .checkmark {
 background-color: #0050af;
 border: 1px solid #0050af;
}
.container_range .checkmark:after{
	content: "";
  position: absolute;
  left: 3px;
  top: 0px;
  width: 2px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
  transform: rotate(45deg);
}
.container_range input:checked ~ .checkmark:after {
 display: block;
}
.search_inch{
	padding: 5px;
  margin: 0px 10px;
  background: #dedede;
}
.search_inch span{
	display: block;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #333333;
  font-weight: bold;
  padding-bottom: 5px;
}
.search_inch_item{
	background: #fff;
	border-radius: 3px;
}
.search_inch_item input{
	width: 77%;
  border: none;
  padding: 7px 13px;
  padding-right: 0px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 14px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.search_inch_item input::-webkit-outer-spin-button, 
.search_inch_item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.search_inch_item input:focus, .search_inch_item button{
	outline: none;
}
.search_inch_item input::-webkit-input-placeholder{
	color: #b7b7b7;
}
.search_inch_item input::-moz-placeholder{
	color: #b7b7b7;
}
.search_inch_item input:-ms-input-placeholder{
	color: #b7b7b7;
}
.search_inch_item input::-ms-input-placeholder{
	color: #b7b7b7;
}
.search_inch_item input::placeholder{
	color: #b7b7b7;
}
.search_inch_item button{
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background: none;
	background-image: url(/images/icon_cat.png?96541375b1f43897e6abe724a11b92de);
	background-position: 19% 1%;
	border: none;

}
.icon_question_mark{
	width: 12px;
	height: 15px;
	display: inline-block;
	vertical-align: bottom;
	background-image: url(/images/icon_cat.png?96541375b1f43897e6abe724a11b92de);
	background-position: 12% 1.7%;
}
.w-100{
	width: 100%;
}
.title_cat{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}
.title_cat span{
	font-size: 17px;
	font-weight: 500;
  margin-left: 5px;
}
.sort_cat{
	background: #f5f5f5;
	border-top: 3px solid #0053ab;
	margin: 12px 0px;
	display: flex;
  justify-content: space-between;
}
.sort_cat-list{
	padding: 14px 15px;
}
.sort_cat-title{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  line-height: 19px;
  padding-right: 5px;
}
.sort_cat-item{
	display: inline-block;
	margin-right: 14px;
}
.container-sort{
	display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-sort input{
	display: none;
}
.container-sort .checkmark{
	position: absolute;
  top: 1px;
  left: 0;
  height: 13px;
  width: 13px;
  background: #fff;
  border: 1px solid #888888;
  border-radius: 50%;
}
.container-sort input:checked ~ .checkmark {
  background: #0054a8;
  border: 1px solid #0054a8;
}
.container-sort .checkmark:after{
	content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  display: none;
}
.container-sort input:checked ~ .checkmark:after {
  display: block;
}


.container-sort .checkmark_checkbox{
  position: absolute;
  top: 1px;
  left: 0;
  height: 13px;
  width: 13px;
  background: #fff;
  border: 1px solid #888888;
  border-radius: 3px;
}
.container-sort input:checked ~ .checkmark_checkbox {
  background: #FFE900;
  border: 1px solid #FFE900;
}
.container-sort .checkmark_checkbox:after{
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  display: none;
}
.container-sort input:checked ~ .checkmark_checkbox:after {
  display: block;
}



.select_sort{
	display: inline-block;
	padding: 15px;
}
.sort_one{
	width: 22px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_cat.png?96541375b1f43897e6abe724a11b92de);
	background-position: 62.5% 1.7%;
	cursor: pointer;
}
.sort_one.active{
  background-position: 29% 1.7%;
}
.sort_two{
	width: 22px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_cat.png?96541375b1f43897e6abe724a11b92de);
	background-position: 41% 1.7%;
	cursor: pointer;
}
.sort_two.active{
  background-position: 74.8% 1.7%;
}
.list_product_cat {
  width: 100%;
  display: inline-block;
}
.list_product_cat .product{
	width: 22.709%;
}
.list_product_cat .product:nth-child(5n){
	border-right: 1px solid transparent;
}
.list_product_cat .product:nth-child(4n){
	border-right: 1px solid #ebebeb;
}
.list_product_cat .product:nth-child(n+5) {
  border-top: 0px solid #ebebeb;
}
.list_product_cat .product:nth-child(n+11) {
  display: block;
}
.list_product_cat .product:nth-child(n+17) {
  display: none;
}
.list_product_cat .product:last-child {
  border-right: 1px solid #ebebeb;
}
.list_product_cat.list_horizontal .product{
  width: 97.709%;
  border: 1px solid #ebebeb;
  margin-bottom: 12px;
}

.list_product_cat.list_horizontal .product .img_pro{
  width: 24.521%;
  display: inline-block;
  margin-top: 0;
}
.list_product_cat.list_horizontal .product .info-product{
  width: 50%;
  display: inline-block;
  padding-left: 35px;
}
.list_product_cat.list_horizontal .product .info-product .name_pro {
  margin-top: 10px;
}

.list_product_cat.list_horizontal .product .info-product .name_pro span{
  font-size: 16px;
}
.list_product_cat.list_horizontal .product .info-product .name_pro a{
  vertical-align: middle;
}
.list_product_cat.list_horizontal .product .info-product .name_pro h3{
  display: inline;
  width: auto;
  font-size: 16px;
}
.list_product_cat.list_horizontal .product .evaluate_compare{
  width: 19.724%;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.see_more_cat{
	text-align: center;
  margin-top: 29px;
  padding-bottom: 32px;
}
.see_more_cat button {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: #333333;
  padding: 8px 22px;
  border: 1px solid #bababa;
  background: #fff;
  border-radius: 35px;
  line-height: 20px;
}
.see_more_cat button:after{
	content: "";
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_cat.png?96541375b1f43897e6abe724a11b92de);
	background-position: 52% 2.2%;
  margin-left: 5px;
}
.see_more_cat button:hover{
	border: 1px solid #0070ee;
}
.see_more_cat button:focus{
	outline: none;
}

.info_pro{
	background: #f5f5f5;
	padding: 14px 32px;
	display: flex;
	justify-content: space-between;
  margin-bottom: 4px;
}
.info_pro_child{
	width: 50%;
	display: flex;
	justify-content: space-between;
}
.info_pro_child-img{
	width: 16.072%;
}
.info_pro_child-title{
	width: 78.7%;
	display: inline-block;
	border-right: 1px solid #dedede;
	padding-top: 20px;

}
.info_pro_child h3{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.info_pro_child p{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: #707070;
  margin-top: 10px;
  line-height: 16px;
  margin-right: 5px;
}
.info_pro_item{
	width: 46%;
}
.email h3{
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
  color: #333333;
  margin: 10px 0px;
  text-transform: uppercase;
}
.form_email{
	border: 1px solid #dedede;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin-right: 15px;
  background: #fff;
}
.form_email input{
	width: 74%;
  padding: 0px 13px;
  border: none;
}
.form_email button{
	width: 20%;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  background: #0052aa;
  border: none;
  border-radius: 3px;
  padding: 13px 0px;
}
.form_email input:focus, .form_email button:focus{
	outline: 0;     
	outline-style: none;     
	outline-width: 0;
}


@font-face {
	font-family: "Roboto-Regular";
	src: url(/fonts/Roboto-Regular.eot?705feaf68667734596c2d2fe42d1c039); /* IE9 Compat Modes */
	src: url(/fonts/Roboto-Regular.eot?705feaf68667734596c2d2fe42d1c039?#iefix) format("embedded-opentype"),
		 url(/fonts/Roboto-Regular.otf?74670bfce29c8431eeeb36053fb51876) format("opentype"),
		 url(/fonts/Roboto-Regular.svg?9830a4865b026299e3a9b20523069ff0) format("svg"),
		 url(/fonts/Roboto-Regular.ttf?3e4fe4265fa9743cbd7587ab582c23aa) format("truetype"),
		 url(/fonts/Roboto-Regular.woff?1cfd1aa3b4fe4bba10c132acea9985af) format("woff"),
		 url(/fonts/Roboto-Regular.woff2?2222f1fd23aa2c08af158311d680ac4a) format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
.content_pro {
	background: #f3f5f7b0;
	padding: 10px 0px;
	margin-top: 5px;
	margin-bottom: 30px;
}
.content_pro-item {
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
}
.content_pro-item .box_breadcrumb {
	padding: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
}
.box_product {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}
.box_pro-images {
	width: 32.759%;
}
.box_pro-images-big {
	display: block;
	text-align: center;
	border: 1px solid #f5f5f5;
}
.box_pro-images-big .item {
	margin: 10px 50px;
	display: inline-block;
}

.box_pro-images-small-parent {
	padding: 0px 20px;
}
.box_pro-images-small {
	margin: 12px 0px;
}
.box_pro-images-small .item {
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	margin: 5px 3px;
	padding-top: 5px;
	text-align: center;
	width: 58px;
	height: 53px;
	position: relative;
	display: inline-block;
}
.box_pro-images-small .item img {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.box_pro-images-small .owl-item.synced .item {
	border: 1px solid #0752ad;
}
.box_pro-images-small.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	left: -20px;
	z-index: 1;
	width: 20px;
	height: 35px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 54.6% 39%;

	margin: 0;
	padding: 0;
	border-radius: 0;
}
.box_pro-images-small.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	right: -23px;
	z-index: 1;
	width: 20px;
	height: 35px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 48.6% 39%;

	margin: 0;
	padding: 0;
	border-radius: 0;
}
.box_pro-info {
	width: 44.828%;
}
.box_pro-benefit {
	width: 18.535%;
}
.see_zoom {
	display: flex;
	justify-content: space-between;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #7f7f7f;
}
.see_zoom-img {
	width: 49.211%;
	background: #f5f5f5;
	text-align: center;
	padding: 7px 0px;
	border-radius: 5px;
	cursor: pointer;
}
.see_zoom-video {
	width: 49.211%;
	background: #f5f5f5;
	text-align: center;
	padding: 7px 0px;
	border-radius: 5px;
	cursor: pointer;
}
.icon_search_plus {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 36.2% 40%;
}
.icon_video {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 41.2% 40%;
}
.feature_item {
	margin-top: 30px;
}
.title_feature {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.feature_item h3 {
	margin-bottom: 7px;
}
.feature_item p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}
.feature_item p:nth-child(n + 7) {
	display: none;
}
.feature_see_more {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #007bff;
	cursor: pointer;
	line-height: 20px;
}
.arrow_down {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 22% 2.5%;
}

.name_pro_detail {
	margin-bottom: 13px;
}
.name_pro_detail h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	line-height: 25px;
}
.trademark_detail {
	width: 33%;
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}
.trademark_detail p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #333333;
	line-height: 10px;
}
.trademark_detail p a {
	font-size: 12px;
	color: #4291ff;
}
.sku_detail {
	width: 50%;
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}
.sku_detail p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	line-height: 10px;
}
.sku_detail p span {
	font-weight: 500;
}
.evalute_detail {
	padding-bottom: 10px;
	padding-top: 18px;
	display: block;
}
.evalute_detail a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #007bff;
	display: inline-block;
	margin-left: 22px;
}
.evalute_detail .my-rating {
	display: inline-block;
	vertical-align: middle;
}
.sticker {
	margin: 2px 0px;
	text-align: center;
}
.size_pro {
	margin-top: 12px;
}
.size_pro p {
	display: inline-block;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	margin: 3px 0px;
	line-height: 22px;
}
.adress_stock {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #007bff;
	font-weight: 500;
	display: inline-block;
	padding-left: 13px;
}
.adress_stock i {
	width: 10px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 26.5% 2.5%;
}
.many_size_pro {
	margin-top: 7px;
}
.one_size {
	display: inline-block;
	width: 125px;
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 0px 0px;
	margin-bottom: 4px;
	cursor: pointer;
}
.one_size.active {
	border: 1px solid #0052aa;
	background: #ebf5ff;
}
.one_size .price-pro {
	display: block;
	font-family: "UTMBebas";
	font-size: 20px;
	color: #e02e2e;
	line-height: 22px;
}
.container-detail {
	display: block;
	position: relative;
	text-align: center;
	cursor: pointer;
	margin: 4px;
}
.container-detail .size-pro {
	padding-left: 25px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
}
.one_size.active .container-detail .size-pro {
	font-weight: bold;
}
.container-detail input {
	display: none;
}
.container-detail .checkmark {
	position: absolute;
	top: 1px;
	left: 20px;
	z-index: 1;
	width: 13px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
}
.container-detail .checkmark:after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 2;
	width: 5px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border-radius: 50%;
	display: none;
}

.container-detail input:checked ~ .checkmark {
	background-color: #0052aa;
	border: 1px solid #0052aa;
}
.container-detail input:checked ~ .checkmark:after {
	display: block;
}

.gift_pro {
	border: 1px solid #dedede;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 8px;
}
.gift_pro h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	background: #f5f5f5;
	padding: 9px;
	border-bottom: 1px solid #dedede;
}
.gift_pro .icon_gift_pro {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 31.5% 1.5%;
	margin-right: 4px;
}
.gift_item {
	padding: 10px;
	margin-bottom: 5px;
}
.gift_item ul li {
	list-style: none;
	margin-left: 17px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 26px;
	position: relative;
}
.gift_item ul li:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -11px;
	transform: translateY(-50%);
	width: 5px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	background: #737373;
}
.buy_pro {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.click_buy {
	width: 48.9%;
	border: none;
	border-radius: 5px;
	background: #e02e2e;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 7px 10px;
	line-height: 20px;
	cursor: pointer;
}
.click_buy:focus,
.buy_installment:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.click_buy span,
.buy_installment span {
	display: block;
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.buy_installment {
	width: 48.6%;
	border: none;
	border-radius: 5px;
	background: #0052aa;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 7px 10px;
	line-height: 20px;
	cursor: pointer;
}

.monopoly {
	border: 1px solid #dedede;
	border-radius: 5px;
	overflow: hidden;
}
.monopoly h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
	background: #f5f5f5;
	padding: 9px 39px;
	border-bottom: 1px solid #dedede;
	text-align: center;
}
.monopoly_item {
	padding: 13px 16px;
	padding-bottom: 9px;
}
.monopoly_item ul li {
	list-style: none;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: 500;
	padding: 6px 0px;
	color: #333333;
	line-height: 25px;
	border-bottom: 1px solid #f7f7f7;
	display: flex;
	justify-content: space-between;
}
.monopoly_item ul li:last-child {
	border-bottom: 0px solid #f7f7f7;
}
.monopoly_item ul li .monopoly-title {
	display: inline-block;
	width: 92.11%;
	line-height: 19px;
}
.monopoly_item ul li .monopoly-title p {
	display: inline-block;
}
.monopoly_item ul li .monopoly-title a {
	color: #007bff;
	display: inline-block;
	margin-left: 3px;
}
.monopoly_item ul li .icon_genuine {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 39.2% 2%;
	margin-right: 8px;
}
.monopoly_item ul li .icon_change {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 46.5% 2%;
	margin-right: 8px;
}
.monopoly_item ul li .icon_refund {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 54% 2%;
	margin-right: 8px;
}
.monopoly_item ul li .icon_guarantee_mb {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 61.5% 2%;
	margin-right: 8px;
	margin-top: 8px;
}
.monopoly_item ul li .icon_delivery {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 69% 2%;
	margin-right: 8px;
	margin-top: 4px;
}
.monopoly_item ul li .icon_installment {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 77% 2%;
	margin-right: 8px;
	margin-top: 5px;
}
.evaluate_product {
	border: 1px solid #dedede;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 15px;
}
.evaluate_product h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
	background: #f5f5f5;
	padding: 9px 25px;
	border-bottom: 1px solid #dedede;
	text-align: center;
}
.evaluate_item {
	padding: 13px 17px;
	padding-bottom: 7px;
}
.evaluate_item p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	padding: 3px 0px;
}
.evaluate_item .sum_evaluate {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #28a745;
	text-align: center;
	background: #f5f5f5;
	padding: 4px 0px;
	line-height: 20px;
	margin-top: 2px;
}
.evaluate_item ul {
	padding-top: 10px;
}
.evaluate_item ul li {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	margin-bottom: 10px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
}
.evaluate_item ul li .point_eva {
	font-weight: bold;
	color: #f6aa07;
}

.title_product {
	font-family: "Roboto-Bold";
	font-size: 22px;
	color: #0052aa;
	margin-top: 20px;
	margin-bottom: 15px;
	display: inline-block;
}

#slide_pro_price,
#slide_pro {
	background: #fff;
}
#slide_pro_price .product,
#slide_pro .product {
	height: auto;
	width: 100%;
}
.compare_pro_other {
	padding-top: 30px;
	display: inline-block;
	float: right;
}

.container_checkbox {
	display: block;
	position: relative;
	padding-left: 20px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #0052aa;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container_checkbox input {
	display: none;
}
.container_checkbox .checkmark_checkbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 13px;
	width: 13px;
	background-color: #fff;
	border: 1px solid #dddddd;
	border-radius: 3px;
}
.container_checkbox .checkmark_checkbox:after {
	content: "";
	position: absolute;
	left: 5px;
	top: 1px;
	width: 2px;
	height: 6px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	transform: rotate(45deg);
	display: none;
	transform: rotate(45deg);
}

.container_checkbox input:checked ~ .checkmark_checkbox {
	background-color: #0052aa;
}
.container_checkbox input:checked ~ .checkmark_checkbox:after {
	display: block;
}

.info_pro-title {
	font-family: "Roboto-Regular";

	font-size: 18px;
	color: #303030;
	position: relative;
	margin-top: 10px;
	font-weight: 500;
}
.info_pro-title ul:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 3px;
	background: #dedede;
}
.info_pro-title li {
	display: inline-block;
	padding-bottom: 14px;
	position: relative;
	margin-right: 48px;
	cursor: pointer;
	transition: 0.4s;
}
.info_pro-title li:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 3px;
	background: #0052aa;
	opacity: 0;
	transition: 0.4s;
}
.info_pro-title li.active {
	font-family: "Roboto-Bold";
	color: #0251ae;
}
.info_pro-title li.active:after {
	opacity: 1;
}
.info_pro-tab {
}
.info_pro-item {
	display: none;
}
.info_pro-item.current {
	display: block;
}
.info_pro-child {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	margin-top: 30px;
}
.img_detail_pro {
	width: 53%;
	text-align: right;
}
.detail_specifications {
	width: 46.5%;
}
.list_specifications {
	height: 400px;
	overflow: hidden;
}
.list_specifications.show_detail_specifications {
	height: auto;
}
.table_specifications {
	width: 100%;
}

.list_specifications ul {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	display: block;
}
.list_specifications ul li {
	display: flex;
	justify-content: space-between;
}
.list_specifications ul li.title-specification {
	padding: 9px 17px;
	border-top: 1px solid #dedede;
	background: #f5f5f5;
}
.list_specifications ul li:nth-child(n + 2) {
	border-bottom: 1px solid #f5f5f5;
}
.list_specifications ul li:last-child {
	border-bottom: 0px solid #f5f5f5;
}
.list_specifications ul li p {
	width: 55%;
	padding: 10px 0px;
	display: inline-block;
	line-height: 16px;
}
.list_specifications ul li p:first-child {
	padding-left: 16px;
	width: 40%;
}

.see_info {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding-top: 20px;
	box-shadow: 0 -5px 10px -10px #838383;
}
.see_info .see_specifications,
.see_info .see_feature,
.see_info .see_videos {
	display: inline-block;
	background: #0152ab;
	padding: 10px 21px;
	border-radius: 5px;
}
.des_pro {
	width: 100%;
	margin-top: 30px;
	height: 455px;
	overflow: hidden;
}
.des_pro.show_des_pro {
	height: auto;
}
.des_pro_item {
	padding-bottom: 15px;
}
.des_pro_item p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 20px;
}
.des_pro_item img {
	padding: 10px 0px;
	display: block;
	margin: 0 auto;
}
.many_video {
	display: flex;
	justify-content: space-between;
}
.video_banner {
	width: 46.5%;
	margin-top: 15px;
}
.video_banner iframe {
	margin: 0 auto;
	display: block;
}
.video_banner h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	line-height: 20px;
	padding: 15px 20px;
}
.video_banner p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #777777;
	line-height: 20px;
	margin: -10px 20px;
}
.videos_small {
	width: 50%;
	margin-top: 15px;
}
.v_small:nth-child(n + 5) {
	display: none;
}
.v_small_item {
	display: flex;
	justify-content: space-between;
	padding-top: 7px;
	padding-bottom: 5px;
	border-top: 1px solid #f5f5f5;
}

.v_small_item:first-child {
	border-top: 0px solid #f5f5f5;
}
.v_img_video {
	width: 23%;
	text-align: center;
}
.v_img_video a {
	position: relative;
	display: inline-block;
}
.v_img_video a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 96%;
	background: #0000005e;
}
.v_img_video a:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 91.5% 9.5%;
}
.info_video {
	width: 73%;
}
.info_video a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
	height: 36px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
	margin-top: 10px;
}
.info_video span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #777777;
}
.hide {
	display: none;
}
.videos_none {
	text-align: center;
	margin: 30px 0px;
}
.videos_none p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}
.content_eva_exp {
	display: flex;
	justify-content: space-between;
}
.content_evaluate {
	width: 61.21%;
}
.content_experience {
	width: 36.21%;
}
.img_customer {
	margin-bottom: 20px;
}
.title_evaluate {
	font-family: "Roboto-Bold";
	font-size: 18px;
	color: #333333;
	margin: 14px 0px;
}
.star_box {
	background: #f5f5f5;
	padding: 0px 27px;
	border-top: 3px solid #0052aa;
	display: flex;
	justify-content: space-between;
}
.star_average {
	width: 27.4%;
	display: inline-block;
	float: left;
	border-right: 1px solid #dedede;
	margin-top: 27px;
}
.star_average h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 27px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 18px;
}
.star_average .ratingresult {
	padding-top: 5px;
	padding-bottom: 12px;
}
.star_average .ratingresult span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	display: inline-block;
	vertical-align: bottom;
}
.star_average .ratingresult span:nth-child(6) {
	margin-top: 8px;
}
.iconcom_star {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 76.3% 17.5%;
	zoom: 1.3;
}
.iconcom_star.revert {
	zoom: 0.6;
}
.iconcom_halfstar {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 82.7% 17.5%;
	zoom: 1.3;
}
.iconcom_unstar {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 89.6% 17.5%;
}
.iconcom_unstar.revert {
	zoom: 0.6;
}
.star_lines {
	width: 58.5%;
	display: inline-block;
	padding: 14px 0px;
	padding-right: 63px;
}
.star_line {
	margin: 2px 0px;
	height: 20px;
	overflow: hidden;
}
.star_line .star_type {
	display: inline-block;
	width: 24%;
}
.star_line .star_sum_eva {
	width: 6.2%;
	display: inline-block;
	margin-left: 8px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #5a5a5a;
}
.star_line .star_type strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	vertical-align: middle;
}
.star_line .star_type span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
}
.star_bar {
	width: 60%;
	height: 6px;
	border-radius: 5px;
	display: inline-block;
	background: #dedede;
	margin-left: 7px;
	position: relative;
}
.star_bar .star_barsub {
	height: 6px;
	border-radius: 5px;
	background: #e9c42e;
}
.rate_now {
	margin: 17px 0px;
	display: inline-block;
	float: right;
}
.rate_now p {
	background: #0052aa;
	color: #fff;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	display: inline-block;
	padding: 8px 22px;
	border-radius: 3px;
	cursor: pointer;
}
.rate_now i {
	width: 25px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 2.5% 8.5%;
}
.criteria_eva {
	padding-top: 18px;
	padding-left: 18px;
}
.criteria_eva p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
}
.criteria_eva ul {
	padding: 13px 15px;
	padding-bottom: 6px;
}
.criteria_eva li {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
	list-style: disc;
	line-height: 22px;
}
.comment_product {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	display: flex;
	justify-content: space-between;
}
.comment_product p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
	font-weight: bold;
	margin-top: 18px;
	display: inline-block;
	width: 29%;
}
.sort_filter {
	width: 53%;
	display: inline-flex;
	justify-content: space-between;
	padding: 5px 0px;
	margin-top: 8px;
	margin-bottom: 7px;
}

.sort {
	width: 55%;
	border-right: 1px solid #dedede;
	/* text-align: center; */
}
.sort span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.sort span i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 7% 8%;
	margin-right: 5px;
}
.slect_sort {
	display: inline-block;
	position: relative;
	margin-left: 3px;
}
.slect_sort:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 2px;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	background: #f5f5f5;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 17.5% 8%;
	pointer-events: none;
}
.sort select {
	background: #f5f5f5;
	border: 1px solid #dedede;
	border-radius: 3px;
	padding: 3px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
}

.sort select:focus,
.select_filter select:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.filter {
	width: 42%;
	text-align: center;
}
.filter span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.filter span i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 13.4% 8%;
}
.select_filter {
	display: inline-block;
	position: relative;
}
.select_filter:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 2px;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	background: #f5f5f5;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 17.5% 8%;
	pointer-events: none;
}
.select_filter select {
	background: #f5f5f5;
	border: 1px solid #dedede;
	border-radius: 3px;
	padding: 3px 4px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
}
.list_img_cus {
	padding: 0px 45px;
}
#img_cus .owl-item {
	text-align: center;
}
.img_cus.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	left: -20px;
	z-index: 1;
	width: 15px;
	height: 24px;
	transform: translateY(-50%);
	display: inline-block;
	vertical-align: middle;
	background: none;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 22% 7.5%;

	margin: 0;
	padding: 0;
	border-radius: 0;
	zoom: 1.8;
}
.img_cus.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	right: -28px;
	z-index: 1;
	width: 15px;
	height: 24px;
	transform: translateY(-50%);
	display: inline-block;
	vertical-align: middle;
	background: none;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 27% 7.5%;

	margin: 0;
	padding: 0;
	border-radius: 0;
	zoom: 1.8;
}

.infocomment {
	padding-left: 10px;
}
.comment_ask {
	padding-top: 13px;
	padding-bottom: 21px;
	border-top: 1px solid #dedede;
}
.comment_ask-user {
	display: block;
}
.comment_ask .icon_user {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 32.5% 7.5%;
	zoom: 1.4;
}
.comment_ask strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
}
.comment_ask .user_member {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #004b98;
	font-weight: bold;
	margin-left: 5px;
}
.infocomment .comment_ask:nth-child(n + 3) {
	display: none;
}
.administrators {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	background: #ffe900;
	color: #333333;
	padding: 3px;
	border-radius: 5px;
	margin-left: 10px;
}
.star-rate {
	padding-left: 38px;
}
.star_user {
	margin: 3px 0px;
	display: inline-block;
	vertical-align: middle;
}
/* .star_user .my-rating {
    display: inline-block;
} */
.tab_rate {
	display: inline;
	margin-left: 28px;
}
.tab_rate span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	background: #f5f5f5;
	padding: 3px 9px;
	border: 1px solid #dedede;
	border-radius: 3px;
	margin-right: 2px;
	margin-bottom: 5px;
	display: inline-block;
}
.info_ask {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
	margin: 3px 0px;
	margin-left: 39px;
}
.relate_info {
	display: inline-block;
	padding-top: 10px;
	padding-left: 38px;
}
.relate_info .comment,
.relate_info .like,
.relate_info .dislike {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #007bff;
	cursor: pointer;
	margin-right: 14px;
}

.relate_info .status {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #bcbcbc;
	display: inline-block;
}
.relate_info .like .icon_like {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 38.5% 8.6%;
}
.relate_info .like .icon_like.active {
	background-position: 42.5% 8.6%;
}
.relate_info .dislike .icon_dislike {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 47% 8.6%;
}
.relate_info .dislike .icon_dislike.active {
	background-position: 51.5% 8.6%;
}
.comment_active,
.ask_pro {
	margin-top: 12px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.comment_active textarea,
.ask_pro textarea {
	padding: 15px 13px;
	background: #f5f5f5;
	border-radius: 3px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #a7a7a7;
	border: none;
	margin-bottom: 9px;
	width: 96%;
}
.comment_active textarea::-webkit-input-placeholder, .ask_pro textarea::-webkit-input-placeholder {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #a7a7a7;
}
.comment_active textarea::-moz-placeholder, .ask_pro textarea::-moz-placeholder {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #a7a7a7;
}
.comment_active textarea:-ms-input-placeholder, .ask_pro textarea:-ms-input-placeholder {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #a7a7a7;
}
.comment_active textarea::-ms-input-placeholder, .ask_pro textarea::-ms-input-placeholder {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #a7a7a7;
}
.comment_active textarea::placeholder,
.ask_pro textarea::placeholder {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #a7a7a7;
}
.comment_active textarea:focus,
.ask_pro textarea:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.comment_active .comment_customer {
	position: relative;
}
.comment_active form {
	margin-left: 37px;
}
.comment_active .comment_customer:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 17px;
	z-index: 1;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #f5f5f5;
}
.comment_active .sent,
.ask_pro .sent {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #fff;
	background: #0052aa;
	border: 1px solid #0052aa;
	border-radius: 3px;
	padding: 5px 27px;
	float: right;
	margin-right: 3px;
}
.comment_active .cancel,
.ask_pro .cancel {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	border: 1px solid #cbcbcb;
	background: none;
	border-radius: 3px;
	padding: 5px 28px;
	float: right;
}
.comment_active button:focus,
.ask_pro button:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.images_ask {
	margin: 10px 0px;
	margin-left: 38px;
}
.comment_reply {
	padding: 12px 15px;
	background: #f5f5f5;
	border-radius: 3px;
	margin: 6px 0px;
	margin-left: 37px;
	position: relative;
}
.comment_reply:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 18px;
	z-index: 1;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #f5f5f5;
}
.comment_reply .icon_user {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 32% 7.5%;
}
.comment_reply strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
	font-weight: bold;
}
.comment_reply .user_member {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #004b98;
	font-weight: bold;
	margin-left: 10px;
}
.comment_reply .relate_info {
	display: inline-block;
}
.comment_reply .relate_info .like,
.comment_reply .relate_info .dislike {
	margin-right: 20px;
}
.see_more_comment {
	text-align: center;
}
.see_more_comment p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #007bff;
	display: inline-block;
	cursor: pointer;
}
.pages {
	text-align: right;
	padding-bottom: 12px;
	border-bottom: 1px solid #dedede;
}
.pages ul {
	display: inline-block;
	position: relative;
	margin-right: 15px;
}
.pages ul:before {
	content: "";
	position: absolute;
	top: 0;
	left: -15px;
	z-index: 1;
	width: 15px;
	height: 20px;
	display: inline-block;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 22% 8%;
}
.pages ul:after {
	content: "";
	position: absolute;
	top: 0;
	right: -15px;
	z-index: 1;
	width: 15px;
	height: 20px;
	display: inline-block;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 27% 8%;
}
.pages ul li {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	display: inline-block;
	padding: 0px 3px;
	cursor: pointer;
}
.pages ul li.active {
	color: #004b98;
	font-weight: bold;
}
.comment_active.comment_active_item textarea {
	border: 1px solid #fff;
	background: #fff;
}
.comment_active.comment_active_item .comment_customer:before {
	border-bottom: 10px solid #fff;
}
.experience {
}
.one_exp:nth-child(n + 5) {
	display: none;
}
.exp_item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.image_exp {
	width: 28.5%;
}
.image_exp a {
	display: inline-block;
}
.title_exp {
	width: 68%;
}
.title_exp p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
	height: 35px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
}
.see_more_write {
	text-align: right;
}
.see_more_write p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #007bff;
	cursor: pointer;
	display: inline-block;
}
.see_more_write p .icon_arrow_right {
	width: 10px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 96% 10.4%;
}
.experience.experience_fixed {
	position: fixed;
	top: 0;
	right: 6.2%;
	background: #fff;
	width: 32%;
	height: 100%;
	z-index: 5;
	overflow-y: auto;
}
.border-top-0 {
	border-top: 0;
}
.border-bottom-0 {
	border-bottom: 0;
}

/* popup info images, video */
#popup_images,
#popup_videos {
	transition: 0.4s;
	display: none;
	transform: scale(0.7);
}
#popup_images.show,
#popup_videos.show {
	display: block;
	transform: scale(1);
}
.popup_info {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #fff;
}
body::-webkit-scrollbar {
	display: none;
}
.popup_up {
	max-width: 900px;
	width: 100%;
	margin: 5px auto;
	min-height: 55px;
	display: flex;
	justify-content: space-between;
}
.popup_info .popup_up .div_img {
	width: 6.6667%;
	position: relative;
}
.popup_info .popup_up .div_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: auto;
}
.popup_info .popup_up .div_pro_info {
	width: 33.3334%;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
}
.popup_info .popup_up .div_pro_info h3 {
	color: #333;
	display: block;
	font-weight: 600;
	line-height: 1.5;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
}
.popup_info .popup_up .div_pro_info strong {
	color: #e10c00;
}
.popup_info .popup_up .div_pro_info span.line-price {
	display: inline-block;
	text-decoration: line-through;
	color: #999;
	font-size: 13px;
}
.popup_info .popup_up .button_container {
	width: 60%;
	text-align: right;
}
.popup_info .popup_up .button_container .buy_now {
	display: inline-block;
	min-width: 140px;
	margin-right: 5px;
	padding: 10px 5px;
	border-radius: 4px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	line-height: normal;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background: #e02e2e;
	font-size: 12px;
	margin-top: 10px;
}
.popup_info .popup_up .button_container .buy_now.repayment {
	background: #0052aa;
}

.popup_down {
	width: 100%;
	height: calc(100% - 55px);
	background: #000;
	position: relative;
	overflow: hidden;
}
.button-close-popup {
	position: absolute;
	top: -30px;
	right: -30px;
	z-index: 5;
	width: 40px;
	height: 40px;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 63.5% 39%;
	cursor: pointer;
	transition: 0.4s;
}
.popup_down:hover .button-close-popup {
	top: 5px;
	right: 5px;
}
.slide_popup-img-big {
	padding: 15px 0px;
}
.slide_popup-img-big .item {
	width: 700px;
	height: 490px;
	margin: 0 auto;
	position: relative;
}
.slide_popup-img-big .item img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.slide_popup-img-big.owl-theme .owl-controls {
	margin-top: 0;
}
.slide_popup-img-big.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	left: -30px;
	z-index: 1;
	width: 20px;
	height: 35px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 70% 39%;
	transition: 0.4s;
	margin: 0;
	padding: 0;
	border-radius: 0;
	zoom: 1.3;
}
.slide_popup-img-big.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	right: -30px;
	z-index: 1;
	width: 20px;
	height: 35px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 78.5% 39%;
	transition: 0.4s;
	margin: 0;
	padding: 0;
	border-radius: 0;
	zoom: 1.3;
}
.popup_down:hover .slide_popup-img-big.owl-theme .owl-controls .owl-buttons .owl-next {
	right: 0;
}
.popup_down:hover .slide_popup-img-big.owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 0;
}

.slide_popup-img-small .item {
	margin: 0 2px;
	text-align: center;
}
.slide_popup-img-small .item img {
	width: 110px;
	height: 74px;
}
.slide_popup-img-small .owl-item.synced {
	position: relative;
}
.slide_popup-img-small .owl-item.synced:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 4px);
	height: calc(100% - 8px);
	border: 2px solid #e02e2e;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
}
#popup_videos .popup_down .button-close-popup {
	top: 5px;
	right: 5px;
}
.slide_popup-video-big {
	text-align: center;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 4;
}
.slide_popup-video-big iframe {
	position: absolute;
	width: 100%;
	height: calc(100% - 100px);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.slide_popup-video-small {
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 5;
	width: 100%;
	display: block;
	text-align: center;
}
.slide_popup-video-small .slide_popup-video-item {
	display: inline-block;
}
.slide_popup-video-small .item {
	float: left;
	margin-right: 5px;
	position: relative;
}
.slide_popup-video-small .item:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	background-image: url(/images/icon_detail.png?f71fa87d94ab23ee703fb6e01994eb98);
	background-position: 91.5% 9.5%;
}
.slide_popup-video-small .item img {
	width: 100px;
	height: 60px;
}
.slide_popup-video-small .slide_popup-video-item .item.active:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 4px);
	height: calc(100% - 8px);
	border: 2px solid #e02e2e;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
}

.popup_st_parent {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	margin: 0 auto;
	display: none;
	transition: 0.4s;
}
.popup_st_parent.show_popup_st {
	display: block;
}
.fuzzy_st {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	width: 100%;
	height: 100%;
	background-color: #94949480;
	transition: 0.4s;
}
.popup_st {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 1200px;
	margin: auto;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 25px -4px rgba(0, 0, 0, 0.75);
}
.popup_st .header_popup {
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

.popup_st .info_map {
	max-width: 1160px;
	width: 100%;
	height: 550px;
	margin: 20px;
	display: inline-flex;
	justify-content: space-between;
}
.info_map .info_map_left {
	max-width: 820px;
	width: 100%;
	height: 550px;
}
.info_map .info_map_right {
	max-width: 320px;
	width: 100%;
}
.info_map_right .name_info_map {
	margin: 10px 0px;
}
.info_map_right .name_info_map h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.info_map_right .price_info_map p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #9b9b9b;
	line-height: 20px;
}
.info_map_right .price_info_map p .pri_nor {
	color: #000;
}
.info_map_right .price_info_map p .pri_dis {
	font-size: 18px;
	font-weight: bold;
	color: #e60000;
}
.info_map_right .number_maker {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0054a6;
	margin-top: 20px;
	margin-bottom: 8px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7e7e7;
}
.select_area_item {
	display: flex;
	justify-content: space-between;
}
.select_area_item .form_control {
	width: 155px;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	padding: 5px;
}
.select_area_item .form_control option {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #000;
}
.info_area {
	width: 100%;
	height: 180px;
	overflow-y: auto;
	margin: 8px 0px;
}

.info_area label {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #4d4d4f;
	margin: 5px 0px;
	cursor: pointer;
	display: block;
}
.info_area label input {
	display: inline-block;
	vertical-align: text-top;
}
.info_area .name_county {
	text-transform: uppercase;
	display: inline-block;
	margin-left: 3px;
	line-height: 20px;
}
.info_area .county_detail {
	display: block;
	margin-left: 20px;
}
.button_booking_map {
	padding-bottom: 60px;
	border-bottom: 1px solid #e7e7e7;
}
.button_booking_map button {
	border: none;
	background: none;
}
.button_booking_map span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: #0051aa;
	border-radius: 3px;
	padding: 30px;
	display: inline-block;
	cursor: pointer;
}
.hotline_map {
	text-align: center;
	margin: 10px 0px;
}
.hotline_map a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fb4c36;
	display: block;
}
.hotline_map span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #888888;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(/images/vendor/owlcarousel/owl-carousel/grabbing.png?d817e1dba5bd5d891d0504bf1715807b) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(/images/vendor/owlcarousel/owl-carousel/AjaxLoader.gif?5b8b06c052cac80413d62e5c45f9f37b) no-repeat center center
}.jq-stars {
    display: inline-block;
}

.jq-rating-label {
    font-size: 22px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-family: helvetica, arial, verdana;
}

.jq-star {
    width: 100px;
    height: 100px;
    display: inline-block;
    cursor: pointer;
}

.jq-star-svg {
    width: 100%;
    height: 100% ;
}

.jq-star:hover .fs-star-svg polygon {
}

.jq-star-svg polygon {
    stroke: #000;
    stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
    -webkit-filter: drop-shadow( -2px -2px 2px #888 );
    filter: drop-shadow( -2px -2px 2px #888 );
}


