@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/Roboto-Bold.otf") format("opentype"), /* Open Type Font */
  url("../fonts/Roboto-Bold.svg") format("svg"), /* Legacy iOS */
  url("../fonts/Roboto-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../fonts/Roboto-Bold.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Roboto-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
.menu_hover {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 10000;
  width: 1200px;
  display: none;
}
.list_menu:hover .menu_hover{
	display: block;
}
.banner_big{
	width: 100%;
	display: inline-block;
	margin: 2px 0px;
}
.banner_big-item{
	display: inline-block;
}
.slide_banner{
  width: 100%;
}
#slide_banner .owl-item .slide_banner-item{
  margin: 2px 4px;
  text-align: center;
}
.slide_banner-item a{
  display: inline-block;
}
.box_breadcrumb{
	padding: 15px 0px;
}
.box_breadcrumb-item{
	display: inline-block;
	font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: #707070;
}
.box_breadcrumb ul li{
	display: inline-block;
}
.box_breadcrumb ul li a{
	color: #707070;
}
.promotion_product_cat{
	margin-top: 19px;
}
.tab_promo_cat{
	margin: 15px 0px;
}
.tab_promo_cat nav ul{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background: #f5f5f5;
}
.tab_promo_cat nav ul li{
	width: 33.3334%;
	text-align: center;
	padding: 14px;
	border-right: 1px solid #dedede;
	cursor: pointer;
	position: relative;
}
.tab_promo_cat nav ul li:after{
	content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid #0053a3;
  opacity: 0;
}
.tab_promo_cat nav ul li.current:after{
	opacity: 1;
}
.tab_promo_cat nav ul li:last-child{
	border-right: 0;
}
.tab_promo_cat nav ul li.current{
	border-bottom: 3px solid #00549f;
	background: #fff;
}
.tab_promo_cat nav ul li span{
	font-family: "Roboto-Bold";
  font-size: 18px;
  color: #333333;
}
.tab_promo_cat nav ul li.current span{
	color: #00549f;
}
.list_pro_cat-item{
	display: none;
}
.list_pro_cat-item.active{
	display: block;
}
.slide_product_cat{
	width: 100%;
}
.slide_product_cat.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}
.slide_product_cat.owl-carousel .product{
	height: 388px;
	width: 92%;
}
.slide_product_cat.owl-carousel .product:last-child {
  border-right: 0px solid #ebebeb;
}
.slide_product_cat.owl-theme .owl-controls .owl-buttons .owl-prev{
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 25px;
	height: 40px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url('../img/icon.png');
	background-position: 73% 2.5%;

	margin: 0;
  padding: 0;
  border-radius: 0;
}
.slide_product_cat.owl-theme .owl-controls .owl-buttons .owl-next{
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
	width: 25px;
	height: 40px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url('../img/icon.png');
	background-position: 81% 2.5%;

	margin: 0;
  padding: 0;
  border-radius: 0;
}
.cat_detail{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 38px;
}
.cat_detail_left{
	width: 18.3334%;
}
.cat_detail_right{
	width: 80%;
}
.cat_detail-item{
	background: #f5f5f5;
	padding: 15px 0px;
	margin-bottom: 3px;
}
.cat_detail-item h3{
	font-family: "Roboto-Bold";
  font-size: 17px;
  color: #333333;
  padding: 0px 15px;
  margin-bottom: 9px;
}
.cat_detail-item p{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #7a7a7a;
  font-weight: 500;
  line-height: 15px;
  padding: 0px 15px;
}
.cat_detail-item .should_choose{
	padding: 0px 15px;
	font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #0072fa;
}
.cat_detail-item .img_range{
	padding: 15px 10px;
}
.list_cat_search{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #717171;
  font-weight: 500;
  padding: 0px 15px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.cat_search-item{
  display: inline-block;
  max-width: 154px;
  padding: 2px 7px;
  border: 1px solid #9fc0e1;
  line-height: 14px;
  background: #fff;
  padding-right: 25px;
  margin-right: 4px;
  border-radius: 4px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
   /*  -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; */
}
.cat_search-item i{
  position: absolute;
  top: -1px;
  right: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: #0054ac;
  font-family: Arial, Tahoma, sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.delete_all{
  text-align: right;
  padding: 0px 15px;
}
.delete_all span{
  font-family: Arial, Tahoma, sans-serif;
  font-size: 13px;
  color: #0076ff;
  font-weight: 500;
  cursor: pointer;
}
.list_cat_brand, .list_cat_price{
  display: inline-block;
  padding: 0px 15px;
}
.cat_brand-item{
  width: 50%;
  float: left;
  margin-bottom: 5px;
}
.cat_price-item, .cat_species-item{
  width: 50%;
  float: left;
  margin-bottom: 9px;
}
.cat_resolution-item, .cat_utilities-item{
  width: 100%;
  margin-bottom: 9px;
  display: block;

}
.container{
  display: block;
  position: relative;
  padding-left: 17px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #333333;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input{
	display: none;
}
.container .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.container input:checked ~ .checkmark {
  background-color: #0050af;
  border: 1px solid #0050af;
}
.container .checkmark:after{
	content: "";
  position: absolute;
  left: 3px;
  top: 0px;
  width: 2px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container input:checked ~ .checkmark:after {
 display: block;
}

.search_price_desire{
	padding: 10px 15px;
	margin: 0px 10px;
	background: #dedede;
}
.price_desire-content{
	margin-bottom: 10px;
}
.price_desire-content input{
	width: 74px;
  text-align: center;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #333333;
  padding: 5px 0px;
  border: none;
  border-radius: 3px;
}
.price_desire-content input::-webkit-outer-spin-button, 
.price_desire-content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price_desire-content input:focus, .price_desire-button:focus{
	outline: none;
}
.price_desire-content input::placeholder{
	color: #b4b4b4;
}
.icon_arrow_cat{
	width: 14px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('../img/cat_con/icon_cat.png');
	background-position: 3% 1.6%;
}
.price_desire-button{
	width: 100%;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 13px;
  color: #fff;
  background: #0152ab;
  line-height: 16px;
  border: none;
  text-align: center;
  padding: 6px 0px;
  border-radius: 3px;
}
.price_desire-button:hover{
	opacity: 0.8;
}
.list_cat_range{
	display: inline-flex;
	justify-content: space-between;
	padding: 0px 10px;
	margin-bottom: 15px;
}
.cat_range-item{
	float: left;
	text-align: center;
}
.container_range{
 display: block;
 position: relative;
 font-family: Arial, Tahoma, sans-serif;
 font-size: 12px;
 color: #333333;
 padding-bottom: 12px;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
.container_range input{
	display: none;
}
.container_range .checkmark{
	position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 height: 10px;
 width: 10px;
 background-color: #fff;
 border: 1px solid #dddddd;
 border-radius: 3px;
}
.container_range input:checked ~ .checkmark {
 background-color: #0050af;
 border: 1px solid #0050af;
}
.container_range .checkmark:after{
	content: "";
  position: absolute;
  left: 3px;
  top: 0px;
  width: 2px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container_range input:checked ~ .checkmark:after {
 display: block;
}
.search_inch{
	padding: 5px;
  margin: 0px 10px;
  background: #dedede;
}
.search_inch span{
	display: block;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  color: #333333;
  font-weight: bold;
  padding-bottom: 5px;
}
.search_inch_item{
	background: #fff;
	border-radius: 3px;
}
.search_inch_item input{
	width: 77%;
  border: none;
  padding: 7px 13px;
  padding-right: 0px;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 14px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.search_inch_item input::-webkit-outer-spin-button, 
.search_inch_item input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.search_inch_item input:focus, .search_inch_item button{
	outline: none;
}
.search_inch_item input::placeholder{
	color: #b7b7b7;
}
.search_inch_item button{
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background: none;
	background-image: url('../img/cat_con/icon_cat.png');
	background-position: 19% 1%;
	border: none;

}
.icon_question_mark{
	width: 12px;
	height: 15px;
	display: inline-block;
	vertical-align: bottom;
	background-image: url('../img/cat_con/icon_cat.png');
	background-position: 12% 1.7%;
}
.w-100{
	width: 100%;
}
.title_cat{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}
.title_cat span{
	font-size: 17px;
	font-weight: 500;
  margin-left: 5px;
}
.sort_cat{
	background: #f5f5f5;
	border-top: 3px solid #0053ab;
	margin: 12px 0px;
	display: flex;
  justify-content: space-between;
}
.sort_cat-list{
	padding: 14px 15px;
}
.sort_cat-title{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  line-height: 19px;
  padding-right: 5px;
}
.sort_cat-item{
	display: inline-block;
	margin-right: 14px;
}
.container-sort{
	display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-sort input{
	display: none;
}
.container-sort .checkmark{
	position: absolute;
  top: 1px;
  left: 0;
  height: 13px;
  width: 13px;
  background: #fff;
  border: 1px solid #888888;
  border-radius: 50%;
}
.container-sort input:checked ~ .checkmark {
  background: #0054a8;
  border: 1px solid #0054a8;
}
.container-sort .checkmark:after{
	content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  display: none;
}
.container-sort input:checked ~ .checkmark:after {
  display: block;
}


.container-sort .checkmark_checkbox{
  position: absolute;
  top: 1px;
  left: 0;
  height: 13px;
  width: 13px;
  background: #fff;
  border: 1px solid #888888;
  border-radius: 3px;
}
.container-sort input:checked ~ .checkmark_checkbox {
  background: #FFE900;
  border: 1px solid #FFE900;
}
.container-sort .checkmark_checkbox:after{
  content: "";
  position: absolute;
  top: -1px;
  left: 3px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  display: none;
}
.container-sort input:checked ~ .checkmark_checkbox:after {
  display: block;
}



.select_sort{
	display: inline-block;
	padding: 15px;
}
.sort_one{
	width: 22px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('../img/cat_con/icon_cat.png');
	background-position: 62.5% 1.7%;
	cursor: pointer;
}
.sort_one.active{
  background-position: 29% 1.7%;
}
.sort_two{
	width: 22px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('../img/cat_con/icon_cat.png');
	background-position: 41% 1.7%;
	cursor: pointer;
}
.sort_two.active{
  background-position: 74.8% 1.7%;
}
.list_product_cat {
  width: 100%;
  display: inline-block;
}
.list_product_cat .product{
	width: 22.709%;
}
.list_product_cat .product:nth-child(5n){
	border-right: 1px solid transparent;
}
.list_product_cat .product:nth-child(4n){
	border-right: 1px solid #ebebeb;
}
.list_product_cat .product:nth-child(n+5) {
  border-top: 0px solid #ebebeb;
}
.list_product_cat .product:nth-child(n+11) {
  display: block;
}
.list_product_cat .product:nth-child(n+17) {
  display: none;
}
.list_product_cat .product:last-child {
  border-right: 1px solid #ebebeb;
}
.list_product_cat.list_horizontal .product{
  width: 97.709%;
  border: 1px solid #ebebeb;
  margin-bottom: 12px;
}

.list_product_cat.list_horizontal .product .img_pro{
  width: 24.521%;
  display: inline-block;
  margin-top: 0;
}
.list_product_cat.list_horizontal .product .info-product{
  width: 50%;
  display: inline-block;
  padding-left: 35px;
}
.list_product_cat.list_horizontal .product .info-product .name_pro {
  margin-top: 10px;
}

.list_product_cat.list_horizontal .product .info-product .name_pro span{
  font-size: 16px;
}
.list_product_cat.list_horizontal .product .info-product .name_pro a{
  vertical-align: middle;
}
.list_product_cat.list_horizontal .product .info-product .name_pro h3{
  display: inline;
  width: auto;
  font-size: 16px;
}
.list_product_cat.list_horizontal .product .evaluate_compare{
  width: 19.724%;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.see_more_cat{
	text-align: center;
  margin-top: 29px;
  padding-bottom: 32px;
}
.see_more_cat button {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: #333333;
  padding: 8px 22px;
  border: 1px solid #bababa;
  background: #fff;
  border-radius: 35px;
  line-height: 20px;
}
.see_more_cat button:after{
	content: "";
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url('../img/cat_con/icon_cat.png');
	background-position: 52% 2.2%;
  margin-left: 5px;
}
.see_more_cat button:hover{
	border: 1px solid #0070ee;
}
.see_more_cat button:focus{
	outline: none;
}

.info_pro{
	background: #f5f5f5;
	padding: 14px 32px;
	display: flex;
	justify-content: space-between;
  margin-bottom: 4px;
}
.info_pro_child{
	width: 50%;
	display: flex;
	justify-content: space-between;
}
.info_pro_child-img{
	width: 16.072%;
}
.info_pro_child-title{
	width: 78.7%;
	display: inline-block;
	border-right: 1px solid #dedede;
	padding-top: 20px;

}
.info_pro_child h3{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
.info_pro_child p{
	font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  color: #707070;
  margin-top: 10px;
  line-height: 16px;
  margin-right: 5px;
}
.info_pro_item{
	width: 46%;
}
.email h3{
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
  color: #333333;
  margin: 10px 0px;
  text-transform: uppercase;
}
.form_email{
	border: 1px solid #dedede;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  margin-right: 15px;
  background: #fff;
}
.form_email input{
	width: 74%;
  padding: 0px 13px;
  border: none;
}
.form_email button{
	width: 20%;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 15px;
  color: #fff;
  background: #0052aa;
  border: none;
  border-radius: 3px;
  padding: 13px 0px;
}
.form_email input:focus, .form_email button:focus{
	outline: 0;     
	outline-style: none;     
	outline-width: 0;
}


