@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/Roboto-Regular.otf") format("opentype"),
		/* Open Type Font */ url("../fonts/Roboto-Regular.svg") format("svg"),
		/* Legacy iOS */ url("../fonts/Roboto-Regular.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/Roboto-Regular.woff") format("woff"),
		/* Modern Browsers */ url("../fonts/Roboto-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
.content_pro {
	background: #f3f5f7b0;
	padding: 10px 0px;
	margin-top: 5px;
	margin-bottom: 30px;
}
.content_pro-item {
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
}
.content_pro-item .box_breadcrumb {
	padding: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
}
.box_product {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}
.box_pro-images {
	width: 32.759%;
}
.box_pro-images-big {
	display: block;
	text-align: center;
	border: 1px solid #f5f5f5;
}
.box_pro-images-big .item {
	margin: 10px 50px;
	display: inline-block;
}

.box_pro-images-small-parent {
	padding: 0px 20px;
}
.box_pro-images-small {
	margin: 12px 0px;
}
.box_pro-images-small .item {
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	margin: 5px 3px;
	padding-top: 5px;
	text-align: center;
	width: 58px;
	height: 53px;
	position: relative;
	display: inline-block;
}
.box_pro-images-small .item img {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.box_pro-images-small .owl-item.synced .item {
	border: 1px solid #0752ad;
}
.box_pro-images-small.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	left: -20px;
	z-index: 1;
	width: 20px;
	height: 35px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 54.6% 39%;

	margin: 0;
	padding: 0;
	border-radius: 0;
}
.box_pro-images-small.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	right: -23px;
	z-index: 1;
	width: 20px;
	height: 35px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 48.6% 39%;

	margin: 0;
	padding: 0;
	border-radius: 0;
}
.box_pro-info {
	width: 44.828%;
}
.box_pro-benefit {
	width: 18.535%;
}
.see_zoom {
	display: flex;
	justify-content: space-between;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #7f7f7f;
}
.see_zoom-img {
	width: 49.211%;
	background: #f5f5f5;
	text-align: center;
	padding: 7px 0px;
	border-radius: 5px;
	cursor: pointer;
}
.see_zoom-video {
	width: 49.211%;
	background: #f5f5f5;
	text-align: center;
	padding: 7px 0px;
	border-radius: 5px;
	cursor: pointer;
}
.icon_search_plus {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 36.2% 40%;
}
.icon_video {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 41.2% 40%;
}
.feature_item {
	margin-top: 30px;
}
.title_feature {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.feature_item h3 {
	margin-bottom: 7px;
}
.feature_item p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}
.feature_item p:nth-child(n + 7) {
	display: none;
}
.feature_see_more {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #007bff;
	cursor: pointer;
	line-height: 20px;
}
.arrow_down {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 22% 2.5%;
}

.name_pro_detail {
	margin-bottom: 13px;
}
.name_pro_detail h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	line-height: 25px;
}
.trademark_detail {
	width: 33%;
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}
.trademark_detail p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #333333;
	line-height: 10px;
}
.trademark_detail p a {
	font-size: 12px;
	color: #4291ff;
}
.sku_detail {
	width: 50%;
	display: inline-block;
	float: left;
	margin-bottom: 5px;
}
.sku_detail p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	line-height: 10px;
}
.sku_detail p span {
	font-weight: 500;
}
.evalute_detail {
	padding-bottom: 10px;
	padding-top: 18px;
	display: block;
}
.evalute_detail a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #007bff;
	display: inline-block;
	margin-left: 22px;
}
.evalute_detail .my-rating {
	display: inline-block;
	vertical-align: middle;
}
.sticker {
	margin: 2px 0px;
	text-align: center;
}
.size_pro {
	margin-top: 12px;
}
.size_pro p {
	display: inline-block;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	margin: 3px 0px;
	line-height: 22px;
}
.adress_stock {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #007bff;
	font-weight: 500;
	display: inline-block;
	padding-left: 13px;
}
.adress_stock i {
	width: 10px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 26.5% 2.5%;
}
.many_size_pro {
	margin-top: 7px;
}
.one_size {
	display: inline-block;
	width: 125px;
	border: 1px solid #dedede;
	border-radius: 5px;
	padding: 0px 0px;
	margin-bottom: 4px;
	cursor: pointer;
}
.one_size.active {
	border: 1px solid #0052aa;
	background: #ebf5ff;
}
.one_size .price-pro {
	display: block;
	font-family: "UTMBebas";
	font-size: 20px;
	color: #e02e2e;
	line-height: 22px;
}
.container-detail {
	display: block;
	position: relative;
	text-align: center;
	cursor: pointer;
	margin: 4px;
}
.container-detail .size-pro {
	padding-left: 25px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
}
.one_size.active .container-detail .size-pro {
	font-weight: bold;
}
.container-detail input {
	display: none;
}
.container-detail .checkmark {
	position: absolute;
	top: 1px;
	left: 20px;
	z-index: 1;
	width: 13px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 50%;
}
.container-detail .checkmark:after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 2;
	width: 5px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	border-radius: 50%;
	display: none;
}

.container-detail input:checked ~ .checkmark {
	background-color: #0052aa;
	border: 1px solid #0052aa;
}
.container-detail input:checked ~ .checkmark:after {
	display: block;
}

.gift_pro {
	border: 1px solid #dedede;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 8px;
}
.gift_pro h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	background: #f5f5f5;
	padding: 9px;
	border-bottom: 1px solid #dedede;
}
.gift_pro .icon_gift_pro {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 31.5% 1.5%;
	margin-right: 4px;
}
.gift_item {
	padding: 10px;
	margin-bottom: 5px;
}
.gift_item ul li {
	list-style: none;
	margin-left: 17px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 26px;
	position: relative;
}
.gift_item ul li:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -11px;
	transform: translateY(-50%);
	width: 5px;
	height: 5px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	background: #737373;
}
.buy_pro {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.click_buy {
	width: 48.9%;
	border: none;
	border-radius: 5px;
	background: #e02e2e;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 7px 10px;
	line-height: 20px;
	cursor: pointer;
}
.click_buy:focus,
.buy_installment:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.click_buy span,
.buy_installment span {
	display: block;
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.buy_installment {
	width: 48.6%;
	border: none;
	border-radius: 5px;
	background: #0052aa;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 7px 10px;
	line-height: 20px;
	cursor: pointer;
}

.monopoly {
	border: 1px solid #dedede;
	border-radius: 5px;
	overflow: hidden;
}
.monopoly h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
	background: #f5f5f5;
	padding: 9px 39px;
	border-bottom: 1px solid #dedede;
	text-align: center;
}
.monopoly_item {
	padding: 13px 16px;
	padding-bottom: 9px;
}
.monopoly_item ul li {
	list-style: none;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: 500;
	padding: 6px 0px;
	color: #333333;
	line-height: 25px;
	border-bottom: 1px solid #f7f7f7;
	display: flex;
	justify-content: space-between;
}
.monopoly_item ul li:last-child {
	border-bottom: 0px solid #f7f7f7;
}
.monopoly_item ul li .monopoly-title {
	display: inline-block;
	width: 92.11%;
	line-height: 19px;
}
.monopoly_item ul li .monopoly-title p {
	display: inline-block;
}
.monopoly_item ul li .monopoly-title a {
	color: #007bff;
	display: inline-block;
	margin-left: 3px;
}
.monopoly_item ul li .icon_genuine {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 39.2% 2%;
	margin-right: 8px;
}
.monopoly_item ul li .icon_change {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 46.5% 2%;
	margin-right: 8px;
}
.monopoly_item ul li .icon_refund {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 54% 2%;
	margin-right: 8px;
}
.monopoly_item ul li .icon_guarantee_mb {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 61.5% 2%;
	margin-right: 8px;
	margin-top: 8px;
}
.monopoly_item ul li .icon_delivery {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 69% 2%;
	margin-right: 8px;
	margin-top: 4px;
}
.monopoly_item ul li .icon_installment {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 77% 2%;
	margin-right: 8px;
	margin-top: 5px;
}
.evaluate_product {
	border: 1px solid #dedede;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 15px;
}
.evaluate_product h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
	background: #f5f5f5;
	padding: 9px 25px;
	border-bottom: 1px solid #dedede;
	text-align: center;
}
.evaluate_item {
	padding: 13px 17px;
	padding-bottom: 7px;
}
.evaluate_item p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	padding: 3px 0px;
}
.evaluate_item .sum_evaluate {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #28a745;
	text-align: center;
	background: #f5f5f5;
	padding: 4px 0px;
	line-height: 20px;
	margin-top: 2px;
}
.evaluate_item ul {
	padding-top: 10px;
}
.evaluate_item ul li {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	margin-bottom: 10px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
}
.evaluate_item ul li .point_eva {
	font-weight: bold;
	color: #f6aa07;
}

.title_product {
	font-family: "Roboto-Bold";
	font-size: 22px;
	color: #0052aa;
	margin-top: 20px;
	margin-bottom: 15px;
	display: inline-block;
}

#slide_pro_price,
#slide_pro {
	background: #fff;
}
#slide_pro_price .product,
#slide_pro .product {
	height: auto;
	width: 100%;
}
.compare_pro_other {
	padding-top: 30px;
	display: inline-block;
	float: right;
}

.container_checkbox {
	display: block;
	position: relative;
	padding-left: 20px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #0052aa;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.container_checkbox input {
	display: none;
}
.container_checkbox .checkmark_checkbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 13px;
	width: 13px;
	background-color: #fff;
	border: 1px solid #dddddd;
	border-radius: 3px;
}
.container_checkbox .checkmark_checkbox:after {
	content: "";
	position: absolute;
	left: 5px;
	top: 1px;
	width: 2px;
	height: 6px;
	border: solid #fff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	transform: rotate(45deg);
	display: none;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.container_checkbox input:checked ~ .checkmark_checkbox {
	background-color: #0052aa;
}
.container_checkbox input:checked ~ .checkmark_checkbox:after {
	display: block;
}

.info_pro-title {
	font-family: "Roboto-Regular";

	font-size: 18px;
	color: #303030;
	position: relative;
	margin-top: 10px;
	font-weight: 500;
}
.info_pro-title ul:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 3px;
	background: #dedede;
}
.info_pro-title li {
	display: inline-block;
	padding-bottom: 14px;
	position: relative;
	margin-right: 48px;
	cursor: pointer;
	transition: 0.4s;
}
.info_pro-title li:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 3px;
	background: #0052aa;
	opacity: 0;
	transition: 0.4s;
}
.info_pro-title li.active {
	font-family: "Roboto-Bold";
	color: #0251ae;
}
.info_pro-title li.active:after {
	opacity: 1;
}
.info_pro-tab {
}
.info_pro-item {
	display: none;
}
.info_pro-item.current {
	display: block;
}
.info_pro-child {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	margin-top: 30px;
}
.img_detail_pro {
	width: 53%;
	text-align: right;
}
.detail_specifications {
	width: 46.5%;
}
.list_specifications {
	height: 400px;
	overflow: hidden;
}
.list_specifications.show_detail_specifications {
	height: auto;
}
.table_specifications {
	width: 100%;
}

.list_specifications ul {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	display: block;
}
.list_specifications ul li {
	display: flex;
	justify-content: space-between;
}
.list_specifications ul li.title-specification {
	padding: 9px 17px;
	border-top: 1px solid #dedede;
	background: #f5f5f5;
}
.list_specifications ul li:nth-child(n + 2) {
	border-bottom: 1px solid #f5f5f5;
}
.list_specifications ul li:last-child {
	border-bottom: 0px solid #f5f5f5;
}
.list_specifications ul li p {
	width: 55%;
	padding: 10px 0px;
	display: inline-block;
	line-height: 16px;
}
.list_specifications ul li p:first-child {
	padding-left: 16px;
	width: 40%;
}

.see_info {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding-top: 20px;
	box-shadow: 0 -5px 10px -10px #838383;
}
.see_info .see_specifications,
.see_info .see_feature,
.see_info .see_videos {
	display: inline-block;
	background: #0152ab;
	padding: 10px 21px;
	border-radius: 5px;
}
.des_pro {
	width: 100%;
	margin-top: 30px;
	height: 455px;
	overflow: hidden;
}
.des_pro.show_des_pro {
	height: auto;
}
.des_pro_item {
	padding-bottom: 15px;
}
.des_pro_item p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 20px;
}
.des_pro_item img {
	padding: 10px 0px;
	display: block;
	margin: 0 auto;
}
.many_video {
	display: flex;
	justify-content: space-between;
}
.video_banner {
	width: 46.5%;
	margin-top: 15px;
}
.video_banner iframe {
	margin: 0 auto;
	display: block;
}
.video_banner h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	line-height: 20px;
	padding: 15px 20px;
}
.video_banner p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #777777;
	line-height: 20px;
	margin: -10px 20px;
}
.videos_small {
	width: 50%;
	margin-top: 15px;
}
.v_small:nth-child(n + 5) {
	display: none;
}
.v_small_item {
	display: flex;
	justify-content: space-between;
	padding-top: 7px;
	padding-bottom: 5px;
	border-top: 1px solid #f5f5f5;
}

.v_small_item:first-child {
	border-top: 0px solid #f5f5f5;
}
.v_img_video {
	width: 23%;
	text-align: center;
}
.v_img_video a {
	position: relative;
	display: inline-block;
}
.v_img_video a:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 96%;
	background: #0000005e;
}
.v_img_video a:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 91.5% 9.5%;
}
.info_video {
	width: 73%;
}
.info_video a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
	height: 36px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
	margin-top: 10px;
}
.info_video span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #777777;
}
.hide {
	display: none;
}
.videos_none {
	text-align: center;
	margin: 30px 0px;
}
.videos_none p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 22px;
}
.content_eva_exp {
	display: flex;
	justify-content: space-between;
}
.content_evaluate {
	width: 61.21%;
}
.content_experience {
	width: 36.21%;
}
.img_customer {
	margin-bottom: 20px;
}
.title_evaluate {
	font-family: "Roboto-Bold";
	font-size: 18px;
	color: #333333;
	margin: 14px 0px;
}
.star_box {
	background: #f5f5f5;
	padding: 0px 27px;
	border-top: 3px solid #0052aa;
	display: flex;
	justify-content: space-between;
}
.star_average {
	width: 27.4%;
	display: inline-block;
	float: left;
	border-right: 1px solid #dedede;
	margin-top: 27px;
}
.star_average h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 27px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 18px;
}
.star_average .ratingresult {
	padding-top: 5px;
	padding-bottom: 12px;
}
.star_average .ratingresult span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	display: inline-block;
	vertical-align: bottom;
}
.star_average .ratingresult span:nth-child(6) {
	margin-top: 8px;
}
.iconcom_star {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 76.3% 17.5%;
	zoom: 1.3;
}
.iconcom_star.revert {
	zoom: 0.6;
}
.iconcom_halfstar {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 82.7% 17.5%;
	zoom: 1.3;
}
.iconcom_unstar {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 89.6% 17.5%;
}
.iconcom_unstar.revert {
	zoom: 0.6;
}
.star_lines {
	width: 58.5%;
	display: inline-block;
	padding: 14px 0px;
	padding-right: 63px;
}
.star_line {
	margin: 2px 0px;
	height: 20px;
	overflow: hidden;
}
.star_line .star_type {
	display: inline-block;
	width: 24%;
}
.star_line .star_sum_eva {
	width: 6.2%;
	display: inline-block;
	margin-left: 8px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #5a5a5a;
}
.star_line .star_type strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	vertical-align: middle;
}
.star_line .star_type span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
}
.star_bar {
	width: 60%;
	height: 6px;
	border-radius: 5px;
	display: inline-block;
	background: #dedede;
	margin-left: 7px;
	position: relative;
}
.star_bar .star_barsub {
	height: 6px;
	border-radius: 5px;
	background: #e9c42e;
}
.rate_now {
	margin: 17px 0px;
	display: inline-block;
	float: right;
}
.rate_now p {
	background: #0052aa;
	color: #fff;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	display: inline-block;
	padding: 8px 22px;
	border-radius: 3px;
	cursor: pointer;
}
.rate_now i {
	width: 25px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 2.5% 8.5%;
}
.criteria_eva {
	padding-top: 18px;
	padding-left: 18px;
}
.criteria_eva p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
}
.criteria_eva ul {
	padding: 13px 15px;
	padding-bottom: 6px;
}
.criteria_eva li {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
	list-style: disc;
	line-height: 22px;
}
.comment_product {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	display: flex;
	justify-content: space-between;
}
.comment_product p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
	font-weight: bold;
	margin-top: 18px;
	display: inline-block;
	width: 29%;
}
.sort_filter {
	width: 53%;
	display: inline-flex;
	justify-content: space-between;
	padding: 5px 0px;
	margin-top: 8px;
	margin-bottom: 7px;
}

.sort {
	width: 55%;
	border-right: 1px solid #dedede;
	/* text-align: center; */
}
.sort span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.sort span i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 7% 8%;
	margin-right: 5px;
}
.slect_sort {
	display: inline-block;
	position: relative;
	margin-left: 3px;
}
.slect_sort:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 2px;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	background: #f5f5f5;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 17.5% 8%;
	pointer-events: none;
}
.sort select {
	background: #f5f5f5;
	border: 1px solid #dedede;
	border-radius: 3px;
	padding: 3px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
}

.sort select:focus,
.select_filter select:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.filter {
	width: 42%;
	text-align: center;
}
.filter span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.filter span i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 13.4% 8%;
}
.select_filter {
	display: inline-block;
	position: relative;
}
.select_filter:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 2px;
	width: 20px;
	height: 20px;
	transform: translateY(-50%);
	background: #f5f5f5;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 17.5% 8%;
	pointer-events: none;
}
.select_filter select {
	background: #f5f5f5;
	border: 1px solid #dedede;
	border-radius: 3px;
	padding: 3px 4px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
}
.list_img_cus {
	padding: 0px 45px;
}
#img_cus .owl-item {
	text-align: center;
}
.img_cus.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	left: -20px;
	z-index: 1;
	width: 15px;
	height: 24px;
	transform: translateY(-50%);
	display: inline-block;
	vertical-align: middle;
	background: none;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 22% 7.5%;

	margin: 0;
	padding: 0;
	border-radius: 0;
	zoom: 1.8;
}
.img_cus.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	right: -28px;
	z-index: 1;
	width: 15px;
	height: 24px;
	transform: translateY(-50%);
	display: inline-block;
	vertical-align: middle;
	background: none;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 27% 7.5%;

	margin: 0;
	padding: 0;
	border-radius: 0;
	zoom: 1.8;
}

.infocomment {
	padding-left: 10px;
}
.comment_ask {
	padding-top: 13px;
	padding-bottom: 21px;
	border-top: 1px solid #dedede;
}
.comment_ask-user {
	display: block;
}
.comment_ask .icon_user {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 32.5% 7.5%;
	zoom: 1.4;
}
.comment_ask strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
}
.comment_ask .user_member {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #004b98;
	font-weight: bold;
	margin-left: 5px;
}
.infocomment .comment_ask:nth-child(n + 3) {
	display: none;
}
.administrators {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	background: #ffe900;
	color: #333333;
	padding: 3px;
	border-radius: 5px;
	margin-left: 10px;
}
.star-rate {
	padding-left: 38px;
}
.star_user {
	margin: 3px 0px;
	display: inline-block;
	vertical-align: middle;
}
/* .star_user .my-rating {
    display: inline-block;
} */
.tab_rate {
	display: inline;
	margin-left: 28px;
}
.tab_rate span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	background: #f5f5f5;
	padding: 3px 9px;
	border: 1px solid #dedede;
	border-radius: 3px;
	margin-right: 2px;
	margin-bottom: 5px;
	display: inline-block;
}
.info_ask {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
	margin: 3px 0px;
	margin-left: 39px;
}
.relate_info {
	display: inline-block;
	padding-top: 10px;
	padding-left: 38px;
}
.relate_info .comment,
.relate_info .like,
.relate_info .dislike {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #007bff;
	cursor: pointer;
	margin-right: 14px;
}

.relate_info .status {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #bcbcbc;
	display: inline-block;
}
.relate_info .like .icon_like {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 38.5% 8.6%;
}
.relate_info .like .icon_like.active {
	background-position: 42.5% 8.6%;
}
.relate_info .dislike .icon_dislike {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 47% 8.6%;
}
.relate_info .dislike .icon_dislike.active {
	background-position: 51.5% 8.6%;
}
.comment_active,
.ask_pro {
	margin-top: 12px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.comment_active textarea,
.ask_pro textarea {
	padding: 15px 13px;
	background: #f5f5f5;
	border-radius: 3px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #a7a7a7;
	border: none;
	margin-bottom: 9px;
	width: 96%;
}
.comment_active textarea::placeholder,
.ask_pro textarea::placeholder {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #a7a7a7;
}
.comment_active textarea:focus,
.ask_pro textarea:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.comment_active .comment_customer {
	position: relative;
}
.comment_active form {
	margin-left: 37px;
}
.comment_active .comment_customer:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 17px;
	z-index: 1;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #f5f5f5;
}
.comment_active .sent,
.ask_pro .sent {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #fff;
	background: #0052aa;
	border: 1px solid #0052aa;
	border-radius: 3px;
	padding: 5px 27px;
	float: right;
	margin-right: 3px;
}
.comment_active .cancel,
.ask_pro .cancel {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	border: 1px solid #cbcbcb;
	background: none;
	border-radius: 3px;
	padding: 5px 28px;
	float: right;
}
.comment_active button:focus,
.ask_pro button:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.images_ask {
	margin: 10px 0px;
	margin-left: 38px;
}
.comment_reply {
	padding: 12px 15px;
	background: #f5f5f5;
	border-radius: 3px;
	margin: 6px 0px;
	margin-left: 37px;
	position: relative;
}
.comment_reply:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 18px;
	z-index: 1;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #f5f5f5;
}
.comment_reply .icon_user {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 32% 7.5%;
}
.comment_reply strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
	font-weight: bold;
}
.comment_reply .user_member {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #004b98;
	font-weight: bold;
	margin-left: 10px;
}
.comment_reply .relate_info {
	display: inline-block;
}
.comment_reply .relate_info .like,
.comment_reply .relate_info .dislike {
	margin-right: 20px;
}
.see_more_comment {
	text-align: center;
}
.see_more_comment p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #007bff;
	display: inline-block;
	cursor: pointer;
}
.pages {
	text-align: right;
	padding-bottom: 12px;
	border-bottom: 1px solid #dedede;
}
.pages ul {
	display: inline-block;
	position: relative;
	margin-right: 15px;
}
.pages ul:before {
	content: "";
	position: absolute;
	top: 0;
	left: -15px;
	z-index: 1;
	width: 15px;
	height: 20px;
	display: inline-block;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 22% 8%;
}
.pages ul:after {
	content: "";
	position: absolute;
	top: 0;
	right: -15px;
	z-index: 1;
	width: 15px;
	height: 20px;
	display: inline-block;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 27% 8%;
}
.pages ul li {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	display: inline-block;
	padding: 0px 3px;
	cursor: pointer;
}
.pages ul li.active {
	color: #004b98;
	font-weight: bold;
}
.comment_active.comment_active_item textarea {
	border: 1px solid #fff;
	background: #fff;
}
.comment_active.comment_active_item .comment_customer:before {
	border-bottom: 10px solid #fff;
}
.experience {
}
.one_exp:nth-child(n + 5) {
	display: none;
}
.exp_item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.image_exp {
	width: 28.5%;
}
.image_exp a {
	display: inline-block;
}
.title_exp {
	width: 68%;
}
.title_exp p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
	height: 35px;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	display: -webkit-box;
}
.see_more_write {
	text-align: right;
}
.see_more_write p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #007bff;
	cursor: pointer;
	display: inline-block;
}
.see_more_write p .icon_arrow_right {
	width: 10px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 96% 10.4%;
}
.experience.experience_fixed {
	position: fixed;
	top: 0;
	right: 6.2%;
	background: #fff;
	width: 32%;
	height: 100%;
	z-index: 5;
	overflow-y: auto;
}
.border-top-0 {
	border-top: 0;
}
.border-bottom-0 {
	border-bottom: 0;
}

/* popup info images, video */
#popup_images,
#popup_videos {
	transition: 0.4s;
	display: none;
	transform: scale(0.7);
}
#popup_images.show,
#popup_videos.show {
	display: block;
	transform: scale(1);
}
.popup_info {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: #fff;
}
body::-webkit-scrollbar {
	display: none;
}
.popup_up {
	max-width: 900px;
	width: 100%;
	margin: 5px auto;
	min-height: 55px;
	display: flex;
	justify-content: space-between;
}
.popup_info .popup_up .div_img {
	width: 6.6667%;
	position: relative;
}
.popup_info .popup_up .div_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40px;
	height: auto;
}
.popup_info .popup_up .div_pro_info {
	width: 33.3334%;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
}
.popup_info .popup_up .div_pro_info h3 {
	color: #333;
	display: block;
	font-weight: 600;
	line-height: 1.5;
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 5px;
}
.popup_info .popup_up .div_pro_info strong {
	color: #e10c00;
}
.popup_info .popup_up .div_pro_info span.line-price {
	display: inline-block;
	text-decoration: line-through;
	color: #999;
	font-size: 13px;
}
.popup_info .popup_up .button_container {
	width: 60%;
	text-align: right;
}
.popup_info .popup_up .button_container .buy_now {
	display: inline-block;
	min-width: 140px;
	margin-right: 5px;
	padding: 10px 5px;
	border-radius: 4px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	line-height: normal;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background: #e02e2e;
	font-size: 12px;
	margin-top: 10px;
}
.popup_info .popup_up .button_container .buy_now.repayment {
	background: #0052aa;
}

.popup_down {
	width: 100%;
	height: -moz-calc(100% - 55px);
	height: -webkit-calc(100% - 55px);
	height: calc(100% - 55px);
	background: #000;
	position: relative;
	overflow: hidden;
}
.button-close-popup {
	position: absolute;
	top: -30px;
	right: -30px;
	z-index: 5;
	width: 40px;
	height: 40px;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 63.5% 39%;
	cursor: pointer;
	transition: 0.4s;
}
.popup_down:hover .button-close-popup {
	top: 5px;
	right: 5px;
}
.slide_popup-img-big {
	padding: 15px 0px;
}
.slide_popup-img-big .item {
	width: 700px;
	height: 490px;
	margin: 0 auto;
	position: relative;
}
.slide_popup-img-big .item img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.slide_popup-img-big.owl-theme .owl-controls {
	margin-top: 0;
}
.slide_popup-img-big.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	left: -30px;
	z-index: 1;
	width: 20px;
	height: 35px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 70% 39%;
	transition: 0.4s;
	margin: 0;
	padding: 0;
	border-radius: 0;
	zoom: 1.3;
}
.slide_popup-img-big.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	right: -30px;
	z-index: 1;
	width: 20px;
	height: 35px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 78.5% 39%;
	transition: 0.4s;
	margin: 0;
	padding: 0;
	border-radius: 0;
	zoom: 1.3;
}
.popup_down:hover .slide_popup-img-big.owl-theme .owl-controls .owl-buttons .owl-next {
	right: 0;
}
.popup_down:hover .slide_popup-img-big.owl-theme .owl-controls .owl-buttons .owl-prev {
	left: 0;
}

.slide_popup-img-small .item {
	margin: 0 2px;
	text-align: center;
}
.slide_popup-img-small .item img {
	width: 110px;
	height: 74px;
}
.slide_popup-img-small .owl-item.synced {
	position: relative;
}
.slide_popup-img-small .owl-item.synced:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 4px);
	height: calc(100% - 8px);
	border: 2px solid #e02e2e;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
}
#popup_videos .popup_down .button-close-popup {
	top: 5px;
	right: 5px;
}
.slide_popup-video-big {
	text-align: center;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	z-index: 4;
}
.slide_popup-video-big iframe {
	position: absolute;
	width: 100%;
	height: calc(100% - 100px);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.slide_popup-video-small {
	position: absolute;
	bottom: 20px;
	left: 0;
	z-index: 5;
	width: 100%;
	display: block;
	text-align: center;
}
.slide_popup-video-small .slide_popup-video-item {
	display: inline-block;
}
.slide_popup-video-small .item {
	float: left;
	margin-right: 5px;
	position: relative;
}
.slide_popup-video-small .item:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	background-image: url("../img/detail-product/icon_detail.png");
	background-position: 91.5% 9.5%;
}
.slide_popup-video-small .item img {
	width: 100px;
	height: 60px;
}
.slide_popup-video-small .slide_popup-video-item .item.active:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 4px);
	height: calc(100% - 8px);
	border: 2px solid #e02e2e;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
}

.popup_st_parent {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	margin: 0 auto;
	display: none;
	transition: 0.4s;
}
.popup_st_parent.show_popup_st {
	display: block;
}
.fuzzy_st {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	width: 100%;
	height: 100%;
	background-color: #94949480;
	transition: 0.4s;
}
.popup_st {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 11;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 1200px;
	margin: auto;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 25px -4px rgba(0, 0, 0, 0.75);
}
.popup_st .header_popup {
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

.popup_st .info_map {
	max-width: 1160px;
	width: 100%;
	height: 550px;
	margin: 20px;
	display: inline-flex;
	justify-content: space-between;
}
.info_map .info_map_left {
	max-width: 820px;
	width: 100%;
	height: 550px;
}
.info_map .info_map_right {
	max-width: 320px;
	width: 100%;
}
.info_map_right .name_info_map {
	margin: 10px 0px;
}
.info_map_right .name_info_map h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	height: 18px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.info_map_right .price_info_map p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #9b9b9b;
	line-height: 20px;
}
.info_map_right .price_info_map p .pri_nor {
	color: #000;
}
.info_map_right .price_info_map p .pri_dis {
	font-size: 18px;
	font-weight: bold;
	color: #e60000;
}
.info_map_right .number_maker {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0054a6;
	margin-top: 20px;
	margin-bottom: 8px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7e7e7;
}
.select_area_item {
	display: flex;
	justify-content: space-between;
}
.select_area_item .form_control {
	width: 155px;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	padding: 5px;
}
.select_area_item .form_control option {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #000;
}
.info_area {
	width: 100%;
	height: 180px;
	overflow-y: auto;
	margin: 8px 0px;
}

.info_area label {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #4d4d4f;
	margin: 5px 0px;
	cursor: pointer;
	display: block;
}
.info_area label input {
	display: inline-block;
	vertical-align: text-top;
}
.info_area .name_county {
	text-transform: uppercase;
	display: inline-block;
	margin-left: 3px;
	line-height: 20px;
}
.info_area .county_detail {
	display: block;
	margin-left: 20px;
}
.button_booking_map {
	padding-bottom: 60px;
	border-bottom: 1px solid #e7e7e7;
}
.button_booking_map button {
	border: none;
	background: none;
}
.button_booking_map span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: #0051aa;
	border-radius: 3px;
	padding: 30px;
	display: inline-block;
	cursor: pointer;
}
.hotline_map {
	text-align: center;
	margin: 10px 0px;
}
.hotline_map a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #fb4c36;
	display: block;
}
.hotline_map span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #888888;
}
