* {
	margin: 0;
	padding: 0;
}

.product_item {
	margin-top: 2px;
}
@font-face {
	font-family: "UTMBebas";
	src: url("../fonts/UTMBebas.eot"); /* IE9 Compat Modes */
	src: url("../fonts/UTMBebas.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/UTMBebas.otf") format("opentype"),
		/* Open Type Font */ url("../fonts/UTMBebas.svg") format("svg"),
		/* Legacy iOS */ url("../fonts/UTMBebas.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/UTMBebas.woff") format("woff"),
		/* Modern Browsers */ url("../fonts/UTMBebas.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "DINPro-Bold";
	src: url("../fonts/DINPro-Bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/DINPro-Bold.otf") format("opentype"),
		/* Open Type Font */ url("../fonts/DINPro-Bold.svg") format("svg"),
		/* Legacy iOS */ url("../fonts/DINPro-Bold.ttf") format("truetype"),
		/* Safari, Android, iOS */ url("../fonts/DINPro-Bold.woff") format("woff"),
		/* Modern Browsers */ url("../fonts/DINPro-Bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
.max-width {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.img_header a {
	display: inline-block;
}
.info_header {
	background: #f5f5f5;
	margin-top: -5px;
	display: inline-block;
	width: 100%;
}
.info_header a .icon_login {
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 2.5% 2.7%;
	margin-right: 10px;
}
.info_header a {
	float: right;
	padding: 9px 0px;
	padding-left: 36px;
	line-height: 20px;
}
.info_header span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #707070;
}
.info_header a:hover p {
	color: #0052aa;
}
.info_header a:hover .icon_login {
	background-position: 9% 2.7%;
}
.list_utilities {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
}
.logo {
	width: 19.17%;
}
.logo a {
	display: inline-block;
}
.utilities {
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.search_bar {
	width: 40.105%;
	margin-left: 40px;
}
.search_bar_item {
	background: #0052aa;
	height: 33px;
	position: relative;
	margin: 10px 0px;
}
.search_bar_item input {
	max-width: 325px;
	width: 100%;
	height: 32px;
	border: none;
	padding: 0px 13px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
}
.search_bar_item input:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.search_bar_item .button_search {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	width: 35px;
	height: 33px;
	background: #0052aa;
	display: inline-block;
	background-image: url("../img/icon.png");
	background-position: 14.5% 1.5%;
	border: navajowhite;
}
.search_bar_item .button_search:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.follow_order {
	width: 17.5%;
	margin-left: 40px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
}
.follow_order span {
	display: inline-block;
	margin: 10px 0px;
	text-align: right;
}
.follow_order i {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 22% 1.5%;
}
.cart {
	width: 9.89%;
	margin-left: 40px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 35px;
}
.cart span {
	display: inline-block;
	margin: 10px 0px;
	text-align: right;
}
.cart i {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 31% 1.5%;
	position: relative;
}
.cart i small {
	position: absolute;
	top: -1px;
	right: 0;
	width: 13px;
	height: 13px;
	z-index: 1;
	background: red;
	border-radius: 50%;
	padding: 2px;
	text-align: center;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	line-height: 14px;
}
.hotline {
	width: 15.83%;
	margin-left: 40px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 18px;
}
.hotline .hotline_item {
	display: inline-block;
	margin: 10px 0px;
	text-align: right;
}
.hotline i {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 39% 1.5%;
}
.hotline .hotline_child {
	width: 76.2%;
	float: right;
}

/* catogery */

.hotline span strong {
	font-size: 16px;
	color: #d7000e;
}
.content {
	margin-top: 22px;
}
.categories_parent {
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
	margin-top: 2p;
}
.categories {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
}
.list_menu {
	width: 19.17%;
	background: #0052aa;
	padding: 3px 0px;
	position: relative; /* =>>>>>> thêm */
}
.list_menu i {
	width: 40px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 47.5% 1.9%;
	margin-right: 8px;
}
.list_menu span {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	line-height: 33px;
}
.list_promo {
	width: 80%;
	display: flex;
	justify-content: space-between;
	background: #f5f5f5;
}
.promo_item {
	width: 20%;
	text-align: center;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 39px;
}
.promo_border {
	position: relative;
}
.bg_red {
	background: #d02b2b;
	font-weight: bold;
	color: #fff;
}
.promo_border:before {
	position: absolute;
	content: "";
	top: 10px;
	right: -1px;
	z-index: 1;
	width: 1px;
	height: 20px;
	background: #dedede;
}

/* menu */

ul li {
	list-style: none;
}

.info_menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	position: relative;
}
.menu_parent {
	width: 19.17%;
}
.menu {
	width: 100%;
}
.menu .menu_item {
	background: #f5f5f5;
}

.menu .menu_item .menu_item_child {
	padding: 2px 10px;
	display: block;
	height: 26px;
}
.menu_item_child .icon_tivi {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 2.8% 10.4%;
	margin-left: 4px;
}
.menu_item_child .icon_dienlanh {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 10.8% 10.4%;
	margin-left: 4px;
}
.menu_item_child .icon_didong {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 18.2% 10.4%;
	margin-left: 4px;
}
.menu_item_child .icon_giadung {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 25% 10.4%;
	margin-left: 3px;
}
.menu_item_child .icon_noithat {
	width: 26px;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 32.5% 11%;
	margin-left: 4px;
}
.menu_item .menu_item_child .tour {
	font-weight: bold;
}
.menu_item_child .arrow {
	float: right;
	width: 15px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 39% 10.7%;
}
.menu_item_child span {
	display: inline-block;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	line-height: 25px;
	font-weight: 500;
	text-transform: none;
}
.menu .menu_child .menu_child-content {
	display: block;
	background: #fff;
	padding: 7px 16px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #666666;
	border-bottom: 1px solid #dedede;
	line-height: 15px;
}
.menu .menu_child .menu_child-content:last-child {
	border-bottom: 0px solid #dedede;
	line-height: 16px;
}
.menu .menu_child a {
	/* font-family: Arial, Tahoma, sans-serif;
	font-size: 14px; */
	color: #666666;
}
.menu_item:hover .menu_item_child .icon_tivi {
	background-position: 2.8% 17.4%;
}
.menu_item:hover .menu_item_child .icon_dienlanh {
	background-position: 10.8% 17.4%;
}
.menu_item:hover .menu_item:hover .menu_item_child p {
	color: #0052aa;
}
.menu_item:hover .menu_item_child .icon_didong {
	background-position: 18.2% 17.1%;
}
.menu_item:hover .menu_item_child .icon_giadung {
	background-position: 25% 17.1%;
}
.menu_item:hover .menu_item_child .icon_noithat {
	background-position: 32.5% 17.8%;
}
.menu_item:hover {
	background: #0052aa;
}
.menu_item:hover .menu_item_child span {
	color: #fff;
}
.menu_item:hover .arrow {
	background-position: 38.9% 17.5%;
}
.menu_item .dropdown_menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
	width: 80.84%;
	height: 450px;
	background: #fff;
	display: none;
}
.menu_item:hover .dropdown_menu {
	display: block;
}
.menu_item .dropdown_menu .dropdown_menu_parent {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 451px;
}
.menu_item .dropdown_menu .dropdown_menu_item {
	width: 74.74%;
	border: 1px solid #f5f5f5;
	position: relative;
}
.menu_item .dropdown_menu .dropdown_menu_img {
	width: 25.26%;
}
.menu_item .dropdown_menu .dropdown_menu_item nav {
	width: 33.1%;
	height: 450px;
	border-right: 1px solid #f5f5f5;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	padding: 15px 0px;
	line-height: 25px;
	border-bottom: 1px solid #dedede;
	color: #333333;
}
/*.menu_item .dropdown_menu .dropdown_menu_item nav ul p{
	padding: 0px 13px;
	font-size: 12px;
	color: #0052aa ;
	cursor: pointer;
}*/
.menu_item .dropdown_menu .dropdown_menu_item nav ul .collapse {
	position: relative;
	padding: 0px 13px;
	font-size: 12px;
	color: #0052aa;
	cursor: pointer;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul .see_more {
	position: relative;
	padding: 0px 13px;
	font-size: 12px;
	color: #0052aa;
	cursor: pointer;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul .collapse:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 60px;
	z-index: 1;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 47% 11.5%;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul .see_more:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 70px;
	z-index: 1;
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 51% 11.7%;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul li {
	padding: 0px 13px;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li a {
	color: #333333;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark {
	position: absolute;
	top: 0;
	left: 240px;
	z-index: 1;
	width: 33.1%;
	height: 450px;
	display: none;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark .feature {
	position: absolute;
	top: 0;
	left: 240px;
	z-index: 2;
	width: 244px;
	display: none;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li strong {
	font-weight: bold;
	text-transform: uppercase;
}
.menu_item .dropdown_menu .dropdown_menu_item nav ul:last-child {
	border-bottom: 0px solid #dedede;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li i {
	float: right;
	width: 15px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/icon.png);
	background-position: 42.5% 10.6%;
	display: none;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li:hover a.cat {
	color: #0052aa;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li:hover a.cat i {
	display: block;
}

.menu_item .dropdown_menu .dropdown_menu_item ul li:hover .trademark {
	display: block;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark li:hover a.cat_item {
	color: #0052aa;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark li:hover a.cat_item i {
	display: block;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark li:hover .feature {
	display: block;
}
.menu_item .dropdown_menu .dropdown_menu_item ul li .trademark li .feature li:hover a {
	color: #0052aa;
}
.promotion {
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.slide {
	width: 74.48%;
}
.slide .slide_img {
	position: relative;
}
.slide_img.owl-theme .owl-controls {
	margin-top: -40px;
	margin-bottom: 9px;
}

.slide_img.owl-theme .owl-controls .owl-page span {
	background: transparent;
	border: 1px solid #c4bfb8;
	opacity: 0.6;
	width: 15px;
	height: 15px;
	margin: 5px 4px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 10px;
	line-height: 15px;
	color: #fff;
}
.slide_img.owl-theme .owl-controls .owl-page.active span,
.slide_img.owl-theme .owl-controls.clickable .owl-page:hover span {
	opacity: 0.9;
	border: 1px solid #fff;
	background: #afafaf;
}
.slide_content {
	background: #f5f5f5;
	text-align: center;
}
.slide_content.owl-carousel .owl-item:after {
	content: "";
	position: absolute;
	top: 14px;
	right: 0;
	width: 1px;
	height: 20px;
	background: #dedede;
}
.slide_content.owl-carousel .owl-item:last-child:after {
	width: 0px;
}
.slide_content.owl-carousel .owl-item .item {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #333333;
	display: inline-block;
	margin: 9px 25px;
}
.slide_content.owl-carousel .owl-item {
	border-top: 3px solid transparent;
}
.slide_content.owl-carousel .owl-item.synced {
	border-top: 3px solid #0052aa;
}
.slide_content.owl-carousel .owl-item.synced .item {
	font-weight: bold;
}
.slide_content.owl-carousel .owl-item:hover {
	cursor: pointer;
}

.page_specialized {
	width: 24.48%;
}
.page_specialized a {
	display: inline-block;
}
.page_specialized a:nth-child(2) {
	margin-top: 6px;
}

/* banner */

.banner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.banner .banner_item {
	width: 32.75%;
}

/* product_promo */
.product_promo {
	background: #f3f5f7;
	margin-top: 24px;
}
.title_pro {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 22px;
	color: #0052aa;
	padding-top: 38px;
	padding-bottom: 25px;
}

.tab_menu nav ul {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	background: #fff;
	margin-bottom: 10px;
	border-bottom: 3px solid #0052aa;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.tab_menu nav ul li {
	width: 10%;
	text-align: center;
	padding: 10px 0px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	cursor: pointer;
	position: relative;
}
.tab_menu nav ul li:nth-child(n):before {
	position: absolute;
	content: "";
	top: 8px;
	right: 0;
	z-index: 1;
	width: 1px;
	height: 20px;
	background: #ededed;
}
.tab_menu nav ul li:last-child:before {
	width: 0;
}
.tab_menu nav ul li.active:nth-child(n):before {
	width: 0;
}
.tab_menu nav ul li.active {
	background: #0052aa;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-weight: bold;
	color: #fff;
}

.product_child {
	width: 100%;
	background: #fff;
	display: inline-block;
}
.product {
	width: 18.167%;
	overflow: hidden;
	float: left;
	padding: 7px 10px;
	border: 1px solid transparent;
	border-top: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	position: relative;
}
.product:hover {
	box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
}

.product:last-child {
	border-right: 1px solid #ebebeb;
}

.product:nth-child(5n) {
	border-right: 1px solid #ebebeb;
}
.product:nth-child(n + 6) {
	border-top: 0px solid #ebebeb;
}
.product .lable_pro {
	font-family: "UTMBebas";
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: 4px;
	left: 5px;
	z-index: 1;
}
.lable_pro .icon_selling {
	width: 40px;
	height: 48px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 2px 0px;
	font-size: 11px;
	margin-right: 5px;
	text-align: center;
	background-image: url("/assets/img/hompage_13.png");
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 15px;
}
.lable_pro .icon_selling span {
	font-size: 14px;
}
.lable_pro .icon_buy {
	width: 30px;
	height: 48px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 2px 5px;
	margin-right: 5px;
	text-align: center;
	line-height: 15px;
	background-image: url("/assets/img/hompage_14.png");
	background-repeat: no-repeat;
	display: inline-block;
}
.img_pro {
	text-align: center;
	margin-top: 10px;
}
.img_pro a {
	display: inline-block;
}
.pro_promo {
	width: 220px;
	height: 40px;
	display: inline-block;
	overflow: hidden;
}
.icon_gift {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 2% 25%;
	position: relative;
}

.icon_gift p {
	position: absolute;
	top: 50%;
	left: 44px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.icon_flash {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 2% 35%;
	position: relative;
}

.icon_flash p {
	position: absolute;
	top: 50%;
	left: 44px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.icon_price_shock {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 2% 45%;
	position: relative;
}

.icon_price_shock p {
	position: absolute;
	top: 50%;
	left: 44px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.icon_guarantee {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 2% 56%;
	position: relative;
}

.icon_guarantee p {
	position: absolute;
	top: 50%;
	left: 40px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.icon_percen {
	width: 220px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 2% 66.5%;
	position: relative;
}

.icon_percen p {
	position: absolute;
	top: 50%;
	left: 42px;
	z-index: 1;
	transform: translateY(-50%);
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.name_pro {
	width: 100%;
	height: 60px;
	overflow: hidden;
}
.name_pro a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.name_pro a:hover {
	text-decoration: none;
}
.name_pro span {
	margin-left: 5px;
}
.name_pro h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 15px;
}
.price_sale {
	font-family: "UTMBebas";
	font-size: 24px;
	color: #e02e2e;
	margin-top: 5px;
}
.gift {
	width: 100%;
	height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	margin-top: 7px;
}

.discount {
	width: 100%;
	height: 25px;
	overflow: hidden;
	margin-top: 5px;
}
.discount .price_market {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #707070;
	text-decoration: line-through;
}
.discount .discount_percent {
	font-family: "UTMBebas";
	font-size: 14px;
	color: #fff;
	background: #007bff;
	border-radius: 5px;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 4px;
}
.discount .installment {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #000;
	background: #ffe900;
	border-radius: 3px;
	padding: 2px 7px;
}
.gift_detail {
	width: 100%;
	height: 20px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #333333;
	margin-top: 8px;
	margin-bottom: 5px;
	overflow: hidden;
}
.evaluate_compare {
	width: 100%;
}
.evaluate_compare .evaluate {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 22px;
	float: left;
}
.evaluate_compare .evaluate i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 44% 18.3%;
}
.evaluate_compare .compare {
	float: right;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color: #0052aa;
}
.pro_see_more {
	text-align: center;
	margin-top: 17px;
	padding-bottom: 40px;
}
.pro_see_more button {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	padding: 8px 20px;
	border: 1px solid #bababa;
	background: #fff;
	border-radius: 35px;
	line-height: 20px;
}
.pro_see_more button:focus {
	outline: 0;
	outline-style: none;
	outline-width: 0;
}
.pro_see_more i {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 48% 18%;
}
.product:nth-child(n + 11) {
	display: none;
}
.hot_pro {
	width: 100%;
	position: relative;
}
.hot_pro_species {
	display: flex;
	justify-content: space-between;
	margin-top: -10px;
}
.hot_pro_banner {
	width: 20%;
	height: 404px;
}

.hot_pro_banner a {
	display: inline-block;
}
.hot_pro_detail {
	width: 79.6%;
	height: 400px;
	overflow: hidden;
	border: 2px solid #0052aa;
}
.hot_pro_detail .product {
	width: 22.697%;
}
.see_all {
	position: absolute;
	top: 55px;
	right: 0;
	z-index: 1;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #007bff;
}
.see_all i {
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 53% 18.5%;
}

/* 2 banner */
.two_banner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 36px;
}

.two_banner a {
	width: 49.584%;
}
.three_banner {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 7px;
}

.three_banner a {
	width: 32.75%;
}
.my_utilities {
	width: 100%;
	position: relative;
}
.videos {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: -12px;
}
.video_big {
	width: 39.334%;
	height: 350px;
}
.video_big .img_video {
	width: 100%;
	height: 269px;
	overflow: hidden;
	position: relative;
}
.video_big .img_video:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 269px;
	background: #0006;
}
.video_big .img_video:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 60px;
	background-image: url("../img/icon.png");
	background-position: 61.2% 2%;
}
.video_big .title_video {
	width: 100%;
	height: 81px;
	background: #111111;
}
.video_big .title_video p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 18px;
	color: #fff;
	display: inline-block;
	margin: 20px;
	height: 42px;
	overflow: hidden;
}

.video_small {
	width: 59.5%;
	height: 350px;
	overflow: hidden;
}
.video_small_item {
	width: 32.213%;
	height: 170px;
	float: left;
	margin-right: 12px;
	margin-bottom: 10px;
}

a.video_small_item:nth-child(3n) {
	margin-right: 0;
}
.video_small_item .img_video {
	width: 100%;
	height: 129px;
	overflow: hidden;
	position: relative;
}
.video_small_item .img_video:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 129px;
	background: #0006;
}
.video_small_item .img_video:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	background-image: url("../img/icon.png");
	background-position: 61% 15%;
}
.video_small_item .title_video {
	width: 100%;
	height: 41px;
	background: #111111;
}
.video_small_item .title_video p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 13px;
	color: #fff;
	display: inline-block;
	margin: 5px 10px;
	height: 30px;
	overflow: hidden;
}

/* product_saw */

.product_saw {
	width: 100%;
}
.slide_product {
	width: 100%;
	margin-top: -6px;
}
.slide_product.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
}
.slide_product.owl-carousel .product {
	height: 350px;
	width: 92%;
}
.slide_product.owl-carousel .product:last-child {
	border-right: 0px solid #ebebeb;
}
.slide_product.owl-theme .owl-controls .owl-buttons .owl-prev,
.slide_banner.owl-theme .owl-controls .owl-buttons .owl-prev {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	width: 25px;
	height: 40px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url("../img/icon.png");
	background-position: 73% 2.5%;

	margin: 0;
	padding: 0;
	border-radius: 0;
}
.slide_product.owl-theme .owl-controls .owl-buttons .owl-next,
.slide_banner.owl-theme .owl-controls .owl-buttons .owl-next {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
	width: 25px;
	height: 40px;
	transform: translateY(-50%);
	background: transparent;
	background-image: url("../img/icon.png");
	background-position: 81% 2.5%;

	margin: 0;
	padding: 0;
	border-radius: 0;
}

/* most_searched */
.most_searched {
	background: #f5f5f5;
	padding: 20px;
}
.most_searched_item {
	background: #fff;
	position: relative;
}
.title_search {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0052aa;
	text-transform: uppercase;
	padding: 15px 20px;
	line-height: 20px;
}
.most_searched_child {
	width: 100%;
	height: 81px;
	display: inline-block;
	overflow: hidden;
}
.most_searched_child li {
	width: 17.328%;
	height: 50px;
	float: left;
	padding: 15px;
	border-top: 1px solid #f5f5f5;
	border-right: 1px solid #f5f5f5;
	position: relative;
}
.most_searched_child li:nth-child(5n) {
	border-right: 0px solid #f5f5f5;
}
.most_searched_child li a {
	width: 100%;
	display: inline-block;
}
.most_searched_child li span {
	width: 70.15%;
	height: 38px;
	float: left;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 19px;
	overflow: hidden;
}
.most_searched_child li span strong {
	display: block;
	font-weight: bold;
	font-size: 13px;
}
.most_searched_child li img {
	position: absolute;
	top: 50%;
	right: 17px;
	z-index: 1;
	transform: translateY(-50%);
	max-width: 60px;
	width: 100%;
	float: right;
	display: inline-block;
	vertical-align: middle;
}
.download_more {
	position: absolute;
	top: 17px;
	right: 22px;
	z-index: 1;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #007bff;
}
.download_more i {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 67.5% 18.3%;
}
.phone_hotline {
	width: 100%;
	background: #f5f5f5;
	display: flex;
	justify-content: space-between;
	margin-top: 17px;
}
.p_hotline_item {
	width: 33.34%;
	text-align: center;
	position: relative;
}
.p_hotline_item:after {
	content: "";
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 1;
	width: 1px;
	height: 30px;
	background: #dedede;
}
.p_hotline_item:nth-child(3):after {
	width: 0px;
}
.p_hotline_item .icon_security {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 99% 0.5%;
}
.p_hotline_item .icon_purchase {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 81.5% 14.5%;
}
.p_hotline_item .icon_complain {
	width: 70px;
	height: 70px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 95.5% 14.5%;
}
.p_hotline_item span {
	width: 45%;
	display: inline-block;
	vertical-align: middle;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #333333;
	text-align: left;
}
.p_hotline_item span strong {
	display: block;
	font-weight: bold;
}

/* general_infor_parent */
.general_infor_parent {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
	padding-bottom: 25px;
}
.general_infor {
	width: 71.67%;
}
.info_item {
	width: 24.768%;
	float: left;
}
.info_item strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	display: inline-block;
	padding-bottom: 8px;
	padding-top: 9px;
}
.info_item li {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
}
.info_item li a {
	color: #333333;
}
.info_item li a:hover {
	color: #0052aa;
}
.contact {
	width: 28.335%;
}
.social_network {
	width: 100%;
	display: inline-block;
}
.social_network_item {
	float: right;
}
.social_network strong {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	margin-right: 15px;
}
.facebook {
	width: 31px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 53% 44.5%;
}
.youtube {
	width: 31px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 52% 25%;
}
.instagram {
	width: 31px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icon.png");
	background-position: 59.5% 25%;
}
.branch {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.number_branch {
	width: 55.295%;
	text-align: right;
	position: relative;
}
.number_branch p {
	font-family: "DINPro-Bold";
	font-size: 85px;
	color: #e02e2e;
	position: absolute;
	top: 10px;
	right: 0;
	z-index: 1;
}
.info_branch {
	width: 44.706%;
	margin-top: 30px;
}
.info_branch_item p {
	display: inline-block;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	color: #333333;
}
.info_branch_item p strong {
	font-weight: bold;
	display: block;
}
.add_branch_more {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 100%;
	display: block;
	background: #0052aa;
	text-align: center;
	color: #fff;
	padding: 5px 0px;
	border-radius: 5px;
	margin-top: 3px;
}

/* footer */
.info_footer {
	background: #f5f5f5;
}
.footer {
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
}
.footer_left {
	width: 50%;
}
.footer_left h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #0052aa;
}
.footer_left p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	line-height: 20px;
}
.footer_left .policy {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	color: #0052aa;
	line-height: 28px;
}
.footer_right {
	width: 46.834%;
}
.certification {
	height: 60px;
	background: #fff;
	margin-top: 8px;
	margin-bottom: 10px;
}

.certification ul {
	display: inline-block;
	vertical-align: middle;
	padding: 3px 0px;
}

.certification ul li {
	display: inline-block;
}
.certification p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	display: inline-block;
	margin-right: 10px;
	margin-left: 17px;
}

.payment {
	background: #fff;
	height: 60px;
}

.payment ul {
	height: 60px;
	display: inline-block;
	vertical-align: middle;
}

.payment ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 9px 0px;
}
.payment p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #333333;
	display: inline-block;
	vertical-align: middle;
	margin-right: 17px;
	margin-left: 20px;
}
.mobile {
	display: none;
}
#slide_mb {
	display: none !important;
}
#slide_mb_2 {
	display: none !important;
}
.hotline_mb {
	display: none;
}
.info_mb {
	display: none;
}
.fuzzy {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: #000000d6;
	display: none;
}
#popup_video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	display: none;
}

.close_popup {
	position: fixed;
	top: 5%;
	right: 2%;
	z-index: 6;
	width: 64px;
	height: 64px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/close.png");
	cursor: pointer;
}
.box_video {
	display: inline-block;
	width: 920px;
	height: 550px;
	margin: auto;
	background-color: #000;
	border-radius: 4px;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
.left_box_video {
	float: left;
	width: 500px;
	height: 100%;
	padding: 0 20px;
	border-radius: 4px 0 0 4px;
	background: #000;
	overflow: hidden;
}
.left_box_video iframe {
	max-width: 100%;
	border: 0;
	display: inline-block;
	margin-top: 26%;
}
.right_box_video {
	float: right;
	width: 350px;
	height: 520px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	padding: 15px;
	border-radius: 0 4px 4px 0;
	vertical-align: top;
	text-align: left;
}
.box_video--title {
	font-family: Arial, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #468ee5;
}
.content_article a {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #0054a6;
}
.content_article h3 {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: #333333;
}
.content_article p {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #333333;
}
